.info-bloc {
	border: 1px solid #aaa;
	background-color: rgb(197, 234, 251);
	padding: 20px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.info-bloc .mat-icon {
	float: left;
  vertical-align: middle;
	line-height: 30px;
	margin-left: 10px; 
}

.info-bloc .info-text {
	margin-left: 20px;
	display: inline-block;
	color: #333;
	font-size: 1.3em;
}

.info-text .small {
	font-size: .8em;
}

.info-text p {
	line-height: 20px;
}