<mat-form-field class="form-element" id="search-taxon-zone">
  <input matInput #zone [matAutocomplete]="auto" 
  	(keyup)="searchTerm$.next(zone.value)" 
  	placeholder="Rechercher un taxon" 
  	id="autocomplete-input" 
  	class="autocomplete" 
  	value="{{ textTaxon }}">
  <mat-autocomplete #auto="matAutocomplete">
    <ng-container *ngIf="(!isWaiting && autocomplete.length)">
    	<!-- NOM VALIDE -->
    	<ng-container *ngFor="let val of autocomplete">
	      <mat-option (click)=selectTaxon(val) [value]="val.cd_ref">
	      	<div class="nom-valide">{{ val.nom_valide.nom_valide }}</div>
	      	<!--div class="nom-vern">{{ val.nom_valide.nom_vern }}</div-->
	      </mat-option>
	    	<!-- Synonymes -->
	      <mat-option *ngFor="let synonyme of val.synonymes" (click)=selectTaxon(val) [value]="val.cd_nom">
	      	<div class="synonyme">
		        <span class="right circle"><i class="mdi mdi-phone"></i></span>
		        <span><i>{{ synonyme.nom_latin }}</i> {{ synonyme.decouvreur }}</span>
		      </div>
	      </mat-option>
	    </ng-container>
    </ng-container>
    <ng-container *ngIf="isWaiting && zone.value.length">
      <mat-option disabled>
        <span class="left loader"></span>
        <span>Recherche en cours</span>
      </mat-option>
    </ng-container>
    <ng-container *ngIf="!isWaiting && !autocomplete.length && zone.value.length">
      <mat-option disabled>
        <mat-icon>error</mat-icon>
        <span>Aucun résultat ne correspond à la recherche</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>