<mat-card *ngIf="task">
  <button 
    class="float-right"
    mat-stroked-button
    color="primary"
    (click)="openTaskForm(task)"
    matTooltip="Modifier la tâche"
  >
    <mat-icon>edit</mat-icon> Éditer
  </button>

  <mat-card-title> {{ task.intitule }}</mat-card-title>

  <h6> Objectif </h6>
  <div 
    style="padding:10px;"
    [innerHTML]="task.objectif"
  ></div>

  <mat-tab-group [dynamicHeight]="true">
    <mat-tab> 
      <ng-template mat-tab-label> Attribution du temps </ng-template> 
      <ng-template matTabContent>
        <app-projets-tasks-task-attributions [task]="task"></app-projets-tasks-task-attributions>
      </ng-template>
    </mat-tab>

    <mat-tab> 
      <ng-template mat-tab-label> Temps d'action </ng-template> 
      <ng-template matTabContent>
        <app-projects-tasks-task-periods [task]="task"></app-projects-tasks-task-periods>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</mat-card>