<h5 *ngIf="user.value?.id">{{ user.value.surnom }}</h5>
<p>
  <a [routerLink]="['ajouter']" *ngIf="user.value?.id">Remplir la suiveuse</a>
</p>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
   <!--  <mat-spinner *ngIf="isLoadingResults"></mat-spinner> -->
    <!-- <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div> -->
  </div>

  <div class="example-table-container">

    <table mat-table 
      class="example-table"
      [dataSource]="data" 
      multiTemplateDataRows
      matSort 
      matSortActive="date" 
      matSortDisableClear 
      matSortDirection="desc">

      <!-- Created Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Date
        </th>
        <td mat-cell *matCellDef="let element">{{ element.date | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <!-- Number Column -->
      <ng-container matColumnDef="duree">
        <th mat-header-cell *matHeaderCellDef>Temps de travail</th>
        <td mat-cell *matCellDef="let element">{{ element.duree | timeFormat }}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="nb_mission">
        <th mat-header-cell *matHeaderCellDef>Nbr. de tâches</th>
        <td mat-cell *matCellDef="let element">{{ element.nb_mission }}</td>
      </ng-container>

      <ng-container matColumnDef="dayDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <ng-container *ngIf="element == expandedElement">
                <app-projet-day-detail [user]="user.value" [date]="element.date"></app-projet-day-detail>
              </ng-container>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['dayDetail']" class="example-detail-row"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>