#content {
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top: 49px;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#global-content {
    height: 100%;
    width: 100%;
   /* padding-bottom: 50px;*/
}

#left-tab {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    width: 50px; 
    height: 100%;
}

#map, .map {
    position: absolute;
    margin-left: 50px;
  /*  padding-bottom: 50px;*/
    height: 100%;
    border: 1px solid #969696;
    border-left-width: 0px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    width: 100%;
}

#right-tab, #filter-tab {
    position: absolute;
    right: 0px;
    height: 100%;
 /*   padding-bottom: 49px;*/
}