.carto-container-sm
{
	display: block;
	position: relative;
	height: 700px;
	border: 1px solid #fefefe;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#left-panel
{
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 5px;
	width: 58px;
	border: 1px solid #969696;
	border-right-width: 0px;
	background-color: rgba(0, 100, 100, 0.8);
	height: 700px;
}

#left-panel div.bloc-bouton
{
	display: flex;

}

#left-panel div.bloc-bouton:hover
{
	-webkit-box-shadow: 0px 0px -7px rgba(0,0,0,.4);
	box-shadow: 0px 0px -7px rgba(0,0,0,.4);
}

#left-panel span.bouton-icon
{
	display: inline-flex;
    width: 100%;
    height: 57px;
    cursor: pointer;
}

#left-panel span.bouton-icon img
{
	margin: auto;
}

#left-panel div.bouton-title
{
	display: none;
	background-color: rgba(0, 100, 100, 0.9);
	color: #fff;
	font-size: 13px;
	border-radius: 2px;
	position: absolute;
	margin-top: 15px;
	margin-left: 5px;
	z-index: 2;
	padding: 5px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#left-panel div.bouton-content
{
	display: none;
	min-height: 50px;
	min-width: 300px;
	background-color: rgba(122, 193, 193, 0.9);
	border-radius: 2px;
	position: absolute;
	margin-left: 5px;
	z-index: 1;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#map,
.map
{
	height: 700px;
	margin-left: 58px;
	border: 1px solid #969696;
    border-left-width: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.location
{
	position: absolute;
	top: 10px;
	left: 93px;
	opacity: 0.9;
	display: block;
}

.zt
{
	padding-left: 5px;
	font-size: 13px;
	color: #505050;
	border: 1px solid #ddd;
	border-radius: 4px;
	height: 24px;
}

#search-commune
{
	width: 280px;
}

#search-taxon,
#fiche-commune
{
	width: 280px;
	border: 1px solid #999999;
}

#map-panel
{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 700px;
	width: auto;
	opacity: 0.9;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*#cc_panel_bt
{
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 680px;
	width: 60px;
	padding-top: 20px;
	background-color: #969696;
	text-align: center;
	color: #F5F5F5;
	font-weight: bold;
}

#cc_panel_bt img
{
	width: 20px;
}*/

#cc_panel_bt
{
	display: inline-block;
	float: left;
	height: 680px;
}

.full-size-bt
{
	position: absolute;  
	cursor: pointer; 
	top: 5px;  
	left: -53px;
	background-color: rgba(0, 100, 100, 0.8);  
	border-radius: 4px;
	z-index: 9999; 
	padding: 8px;
}

.logo-sources
{
	position: absolute;  
	cursor: pointer; 
	bottom: 5px;  
	left: -124px;
	z-index: 9999; 
	max-width: 335px;
	text-align: right;
	background-color: #fff;
	border: 1px solid #ababab;
	border-radius: 4px;
	padding: 5px;
	opacity: 0.8;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.logo-sources:hover
{
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.logo-sources img
{
	max-width: 50px;
	margin: 0px 2px;
	padding: 0;
}

.open-panel-bt
{
	display: inline-block;
	cursor: pointer;
	width: 50px;
	text-align: center;
	height: 690px;
	margin: 5px;
	color: #F5F5F5;
	font-weight: bold;
	background-color: rgba(0, 100, 100, 0.8);
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.open-panel-bt img
{
	width: 20px;
	cursor: pointer;
	margin-top: 20px;
}

#cc_panel_contains
{
	cursor: default;
	display: inline-block;
	margin-right: 1px;
	height: 700px;
	width: 450px;
	padding: 3px;
	background-color: #EEEEEE;
	border: 1px solid #969696;
	border-right-width: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ui-accordion-content
{
	height: 461px;
}

.onglet-body
{
	max-height: 350px;
	display: inherit;
	overflow-y: auto;
}

.grp-title
{
	display: block;
	font-weight: bold;
	font-size: 15px;
	margin: 15px 10px 5px 5px; 
}

span.lst-layer,
span.lst-felayer
{
	display: block;
	margin: 0px 0px 3px 20px;
}

span.lst-felayer{
	margin-left: 10px;
}

span.lst-layer img
{
    height: 17px;
    vertical-align: -4px;
    margin-left: 5px;
    cursor: pointer;
}

span.lst-felayer img {
	cursor: pointer;
}

span.lst-felayer form
{
    display: none;
	margin: 3px 8px;
    padding: 7px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.type-couche
{
	display: inline-block;
	width: 120px;
}

.liste-type
{
	display: none;
	margin-left: 20px;
}


.ui-accordion .ui-accordion-content
{
	padding: 5px;
}

.ss-bloc
{
	margin: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.ss-bloc-title
{
	background-color: #f5f5f5;
	padding: 6px 10px;
}

.ss-bloc-title.oc
{
	cursor: pointer;
}

.ss-bloc-title .title
{
	font-size: 13px;
	font-weight: bold;
}

.ss-bloc-title .open-close
{
	float: right;
}

.ss-bloc-title .open-close img
{
	  margin-top: -3px;
}

.ss-bloc-content
{
	padding: 10px 10px;
  	border-top: 1px solid #ddd;
  	background-color: #fff;
}

.layer-info img 
{
	width: 16px;
	vertical-align: -3px;
}

.layer-activate
{
	z-index: 10;
	display: none;
	position: absolute;
	right: 80px;
	border-radius: 2px;
	background-color: #fff;
	width: 280px;
}

.layer-activate img
{
	width: 13px;
	margin: 0px 10px;
}

form[name="fmr_fiche_comm"] label
{
	width: 100px;
	display: inline-block;
}

form[name="fmr_fiche_comm"] input
{
	width: 300px;
	margin: 5px 0px;
}

form[name="fmr_fiche_comm"] textarea
{
	height: 100px;
	margin: 5px 0px;
	border: 1px solid #ddd;
  	border-radius: 4px;
}

.ol-attribution
{
	left: 8px;
	text-align: left;
	right: auto;
	bottom: 38px;
}

.ol-attribution img {
  max-height: 3em;
}


.ofsa-dialog {
	width:	800px;	
}

.dlg-title {
	font-size: 18px;
	color: #357064;
	font-weight: bold;
}

fieldset {
    border: 1px solid #03885B;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0px 0px 10px 0px;
    font-size: 12px;
}

fieldset legend{
    color: #357064;
    font-weight: bold;
    padding: 0px 10px;
    font-size: 15px;
}

.logo {
	float: right;
}

.logo img {
	max-width: 300px;
	max-height: 120px;
}

.organisme-info {
	cursor: pointer;
}

.libelle {
    font-weight: bold;
    color: #357064;
}

.uislider-content {
	display: none;
	margin: 3px 8px;
    padding: 7px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.uislider-opa {
	height: 7px;
	width: 200px;
	display: inline-block;
}

.uislider-label {
	margin-right: 5px;
    font-family: cursive;
}

.uislider-values {
	margin-left: 20px;
    font-weight: bold;
    font-family: cursive;
}

.noUi-horizontal .noUi-handle {
	height: 17px;
}

.noUi-handle:after, .noUi-handle:before {
	height: 7px;
	top: 4px;
}