<form [formGroup]="form" (ngSubmit)="save()" class="row">
	<mat-form-field class="col-sm-4">
		<mat-label>Mission</mat-label>
    <input matInput 
	    placeholder="Rechercher..." 
	    aria-label="Mission" 
	    [matAutocomplete]="auto" 
	    formControlName="mission">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let mission of missions | async" [value]="mission.mission.id">
        <span>{{ mission.mission.libelle }}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-error>Hint</mat-error>
  </mat-form-field>

  <mat-form-field class="col-sm-3">
	  <mat-label>Catégorie</mat-label>
	  <mat-select formControlName="categorie">
	    <mat-option *ngFor="let categorie of categories | async" [value]="categorie.id">
	      {{ categorie.libelle }}
	    </mat-option>
	  </mat-select>
	  <mat-error>Hint</mat-error>
	</mat-form-field>

	<ng-container *ngIf="!timeFormDisplay;else timeFormBlock">
		<mat-form-field class="col-sm-2">
			<mat-label>Durée</mat-label>
	    <input matInput 
		    placeholder="0"
		    autocomplete="off"
		    formControlName="duree">
		  <mat-error>Hint</mat-error>
	  </mat-form-field>
	</ng-container>

  <ng-template #timeFormBlock>
		<div class="col-sm-3">
			<form [formGroup]="timeForm" class="row">
				<mat-form-field class="col-6">
					<mat-label>Heure(s)</mat-label>
			    <input matInput 
				    placeholder="0"
				    autocomplete="off"
				    formControlName="heure">
				  <mat-error>Hint</mat-error>
			  </mat-form-field>
			  <mat-form-field class="col-6">
			  	<mat-label>Minutes</mat-label>
			    <input matInput 
				    placeholder="0"
				    autocomplete="off"
				    formControlName="minutes">
				  <mat-error>Hint</mat-error>
			  </mat-form-field>
			</form>
		</div>
	</ng-template>

	<mat-radio-group [ngClass]="{'offset-sm-1': !timeFormDisplay, 'col-sm-2': true}"
		(change)="timeFormDisplay=!timeFormDisplay">
	  <mat-radio-button value="1" [checked]="!timeFormDisplay">Heure décimal</mat-radio-button>
	  <mat-radio-button value="2" [checked]="timeFormDisplay">Heure minutes</mat-radio-button>
	</mat-radio-group>

</form>


