<a mat-raised-button 
	routerLink="/projet/admin"
	aria-label="Icon d'une fleche vers la gauche" 
	matTooltip="Revenir au tableau d'administration"
>
  <mat-icon>arrow_back</mat-icon> Précédent
</a>

<h6>Projet</h6>
<div class="row">
	<div class="col-sm-3 col-md-2">
		<mat-card>
			<a routerLink="types" matTooltip="Gérer les valeurs de type de projet" class="text-center">
				<mat-icon>folder</mat-icon>
				<div class="caption">
					Types de projet
				</div>
			</a>
		</mat-card>
	</div>

	<div class="col-sm-3 col-md-2">
		<mat-card>
			<a routerLink="localisations" matTooltip="Gérer les localisations" class="text-center">
				<mat-icon>travel_explore</mat-icon>
				<div class="caption">
					Localisations
				</div>
			</a>
		</mat-card>
	</div>

	<div class="col-sm-3 col-md-2">
		<mat-card>
			<a routerLink="charges" matTooltip="Gérer les valeurs de type de charge" class="text-center">
				<mat-icon>folder</mat-icon>
				<div class="caption">
					Types de charge
				</div>
			</a>
		</mat-card>
	</div>

</div>


<h6>Tâche</h6>
<div class="row">
	<div class="col-sm-3 col-md-2">
		<mat-card>
			<a routerLink="actions" matTooltip="Gérer les valeurs de type" class="text-center">
				<mat-icon>bookmarks</mat-icon>
				<div class="caption">
					Actions
				</div>
			</a>
		</mat-card>
	</div>

	<div class="col-sm-3 col-md-2">
		<mat-card>
			<a routerLink="avancements" matTooltip="Gérer les localisations" class="text-center">
				<mat-icon>ballot</mat-icon>
				<div class="caption">
					Avancements
				</div>
			</a>
		</mat-card>
	</div>

</div>