div.organisme-form {
	display: flex;
}

.mat-form-field {
	margin-right: 20px;
}

div.button {
	position: relative;
	top: 15px;
}

::ng-deep .mat-progress-spinner, .mat-spinner {
	display: inline-block;
  margin-right: 10px;
  vertical-align: -3px;
}