<div class="organisme-form">
	<mat-form-field>
		<mat-label>
			<mat-spinner 
				*ngIf="loading"
				diameter="20"
				strokeWidth="2"
			>
			</mat-spinner>
			Organisme
		</mat-label>
	  <input 
		  type="text" 
		  placeholder="Rechercher ou saisir un organisme" 
		  matInput 
		  [formControl]="form" 
		  [matAutocomplete]="auto">
	  <mat-autocomplete 
	  	#auto="matAutocomplete"
	  	[displayWith]="displayFn.bind(this)">
	    <mat-option *ngFor="let organisme of (filteredOptions | async)" [value]="organisme['@id']">
	      {{ organisme.nom }}
	    </mat-option>
	  </mat-autocomplete>
	</mat-form-field>
	<button
		*ngIf="buttonDisplay" 
		mat-mini-fab
		color="primary"
		matTooltip="Créer cet organisme"
		(click)="addOrganisme()">
	  <mat-icon>done</mat-icon>
	</button>
</div>