.close-dialog {
	position: absolute;
	top: 70px;
	right: 500px;
}

.tab-content {
	padding: 10px;
}

.category {
	border-left: 4px solid red;
	padding: 3px 0px 3px 5px;
	margin-bottom: 10px;
}