<div class="right-tab">
	
	<button 
		matTooltip="Ouvrir le panneau"
		class="open-dialog" 
		mat-mini-fab 
		(click)="openDialog()"
		color="primary">
	  <mat-icon>apps</mat-icon>
	</button>

	<!--div id="action-tab" class="hidetab"><img src="" id="cc_panel_open"></div>
	
	<div class="logo-sources">
		<a href="http://www.ign.fr/" title="Accéder au site" target="_BLANK"><img src=""></a>
		<a href="http://gretia.org/" title="Accéder au site" target="_BLANK"><img src=""></a>
		<span class="attrib-orga"></span>
	</div>
	
	<div id="right-tab-content">
	</div-->
</div>