<div class="container">
	<div class="row">
		<div class="col-lg-4" *ngFor="let outil of outils">

			<mat-card>
			  <img mat-card-image src="{{ outil.image }}">
			  <mat-card-content>
			    <span class="card-title" innerHTML="{{ outil.title }}"></span>
          <div innerHTML="{{ outil.text }}"></div>
			  </mat-card-content>
			  <mat-card-actions>
			  	<a mat-flat-button color="primary" href="{{ outil.url }}" target="{{ outil.target }}">Accéder</a>
			  </mat-card-actions>
			</mat-card>

		</div>

	</div>
</div>