.liste-taxon {
	margin: 0px 10px;
}

.liste-taxon .row {
	padding: 5px 0px;
    border-top: 1px solid #ababab;
}

.liste-taxon .row.good {
	background-color: green;
}

.liste-taxon .row.error {
	background-color: red;
}

.liste-taxon .row.waiting {
	background-color: #ababab;
}

.liste-taxon .row > div:not(:last-child),
.liste-taxon .row form > div:not(:last-child) {
    border-right: 1px solid #ababab;
}

.titre-liste {
	margin-bottom: 10px!important;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
}