td {
	padding: 2px 5px;
}

.branche {
  height: 11px;
  border-left: 1px dotted #000;
  border-bottom: 1px dotted #000;
  margin-right: 5px;
  margin-top: 1px;
  display: inline-block;
  float: left;
  line-height: 10px;
  text-indent: -11px;
  width: 10px;
}

.btn-plus {
	cursor: pointer;
}