<ng-container [formGroup]="form">
	<td>
		<app-projet-control-organisme [form]="form.get('organisme')"></app-projet-control-organisme>
	</td>
	<td>
	  <mat-form-field>
	    <input 
		    matInput 
		    placeholder="Financement"  
		    type="number"
				required
				formControlName="financement">
	  </mat-form-field>
	</td>
	<td>
		<app-submit-btn
    	[disabled]="!form.valid"
    	[waiting]="waiting"
    	matTooltip="Ajouter l'organisme"
    	(click)="save()"
    >
    	<mat-icon>add</mat-icon> Ajouter
    </app-submit-btn>
		<!-- <button
			mat-raised-button
			type="button"
			color="primary"
			matTooltip="Ajouter l'organisme"
			[disabled]="form.invalid" 
			(click)="save()"
		>
		  <mat-icon>save</mat-icon>
		</button> -->
		<button
			style="margin-left: 10px;"
			mat-raised-button
			type="button"
			matTooltip="Annuler"
			(click)="cancel()"
		>
		  Annuler
		</button>
	</td>
</ng-container>