<ng-container *ngIf="!loadingList; else loadingTemplate">
	<table class="table">
		<thead>
			<tr>
				<th>Organisme</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngIf="signataires.length; else noSignataires">
				<ng-container *ngFor="let signataire of signataires">
					<tr 
						app-project-signataire-tr
						[(signataire)]="signataire"
						(signataireChange)="signataireChange($event)"
					>
					</tr>
				</ng-container>
			</ng-container>
			<ng-template #noSignataires>
				<tr>
					<td colspan="2">
						Pas de signataire pour le moment
					</td>
				</tr>
			</ng-template>
		</tbody>
		<tfoot>
			<tr 
				app-projet-convention-signataire-form-tr
				(onCreate)="signataireCreate($event)"
			></tr>
		</tfoot>
	</table>

</ng-container>
<ng-template #loadingTemplate>
	<app-loader message="Chargement en cours"></app-loader>
</ng-template>