<mat-card>
	<ng-container *ngIf="!loading; else loadingTemplate">
		<button 
			color="primary"
			mat-raised-button 
			style="margin: 15px 0px;"
			(click)="openFormMontage()"
			type="button"
		>
			<mat-icon>add</mat-icon> Ajouter une action
		</button>

		<h5>Actions financées</h5>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Catégorie</th>
					<th>Intitulé</th>
					<th>Coût unitaire</th>
					<th>Quantité prévue</th>
					<th>Quantité consommée <small>(actuel)</small></th>
					<th>Total</th>
					<th>Gain/perte <small>(actuel)</small></th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngIf="(charges||[]).length; else noData">
					<tr *ngFor="let charge of charges">
						<td>
							<div class="float-left">
								<button 
									*ngIf="charge.removable"
									mat-icon-button 
									color="warn"
									type="button"
									(click)="delete(charge)">
							    <mat-icon>delete</mat-icon>
							  </button>
							</div>
							<div class="float-right">
								<button 
									mat-icon-button 
									color="primary"
									type="button"
									(click)="openFormMontage(charge)"
								>
							    <mat-icon>edit</mat-icon>
							  </button>
							</div>
						</td>
						<td>{{ charge.chargeType?.chargeTypeRef?.label || '-' }}</td>
						<td>
							{{ charge.label }} 
							<mat-icon 
								*ngIf="charge.description"
								[matTooltip]="charge.description"
								position="below"
							>info</mat-icon>
						</td>
						<td>{{ charge.unitCostApplied }}</td>
						<td>{{ charge.quantity }}</td>
						<td
							[ngClass]="charge.chargeType?.chargeTypeRef?.isPerDay && charge.quantityUsed  > charge.quantity ? 'over' : 'not-over'"
						>
							<ng-container *ngIf="!charge.chargeType?.chargeTypeRef?.isPerDay || !loadingUsed; else loaderUsed">
								{{ charge.chargeType?.chargeTypeRef?.isPerDay ? charge.quantityUsed : '-' }}
							</ng-container>

						</td>
						<td>{{ charge.unitCostApplied * charge.quantity }}</td>
						<td
							[ngClass]="charge.chargeType?.chargeTypeRef?.isPerDay && charge.quantityUsed > charge.quantity ? 'over' : 'not-over'"
						>
							<ng-container *ngIf="charge.chargeType?.chargeTypeRef?.isPerDay; else materialTmp">
								<ng-container *ngIf="!loadingUsed; else loaderUsed">
									{{ (charge.quantity - charge.quantityUsed) * charge.unitCostApplied >=0 ? '+' : '-' }}
									{{ (charge.quantity - charge.quantityUsed) * charge.unitCostApplied }}
								</ng-container>
							</ng-container>
							<ng-template #materialTmp>
								0
							</ng-template>
						</td>
					</tr>
				</ng-container>
				<ng-template #noData>
					<tr><td colspan="8">Aucune ligne enregistrée</td></tr>
				</ng-template>
			</tbody>
			<tfoot>
				<tr>
					<th class="table-dark">Total</th>
					<td colspan="5" class="table-dark"></td>
					<td class="table-dark font-weight-bold">{{ totals }}</td>
					<td 
						class="table-dark font-weight-bold"
						[ngClass]="totalsUsed > totals ? 'over' : 'not-over'"
					>
						<ng-container *ngIf="!loadingUsed; else loaderUsed">
							{{ totalsUsed >=0 ? '+' : '-' }}{{ totalsUsed }}
						</ng-container>
					</td>
				</tr>
			</tfoot>
		</table>
	</ng-container>
	<ng-template #loadingTemplate>
		<app-loader message="Chargement en cours"></app-loader>
	</ng-template>
</mat-card>

<ng-template #loaderUsed>
	<mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

<!-- <ng-container *ngIf="unfinancedActions.length">
	<h5>Actions auto-financées</h5>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Intitulé</th>
				<th>Coût unitaire</th>
				<th>Quantité prévue</th>
				<th>Quantité consommée <small>(actuel)</small></th>
				<th>Total</th>
				<th>Gain/perte <small>(actuel)</small></th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let task of unfinancedActions; let last = last">
				<tr >
					<td>{{ task.intitule }}</td>
					<td></td>
					<td>{{ task.nbJours }}</td>
					<td>{{ task.numberDaysDone }}</td>
					<td>{{ ((projet?.projectType?.coutJour)||0) * task.nbJours }}</td>
					<td>
						{{ ((projet?.projectType?.coutJour)||0) * task.nbJours - ((projet?.projectType?.coutJour)||0) * task.numberDaysDone >=0 ? '+' : '-' }}
						{{ ((projet?.projectType?.coutJour)||0) * task.nbJours - ((projet?.projectType?.coutJour)||0) * task.numberDaysDone }}
					</td>
				</tr>
			</ng-container>
		</tbody>

	</table> -->

	<!-- <div class="row">
		<div class="col-md-4">
			<mat-selection-list #actionsList>
			  <mat-list-option 
			  	*ngFor="let task of unfinancedActions; let last = last"
			  	[value]="task['@id']"
			  >
			  	<h4 mat-line>{{ task.intitule }}</h4>
	    		<p mat-line> {{ task.nbJours }} jour{{ task.nbJours > 1 ? 's' : '' }} </p>
			  </mat-list-option>
			  <mat-divider *ngIf="!last"></mat-divider>
			</mat-selection-list>
		</div>
		<div 
			*ngIf="actionsList.selectedOptions.selected.length"
			class="col-md-4"
		>
			<mat-form-field>
			  <mat-label>Associer à</mat-label>
			  <mat-select
			  	[formControl]="associateChargeForm"
			  	required
			  >
					<mat-option 
						*ngFor="let charge of actionCharges"
						[value]="charge['@id']"
					>
			      {{ charge.label }}
			    </mat-option>
			  </mat-select>
			</mat-form-field>
			<div>
				<button 
					mat-raised-button color="primary"
					(click)="associateChargeTasks()"
					[disabled]="!(associateChargeForm.valid && actionsList.selectedOptions.selected.length)"
				>
					Associer
				</button>
				{{(associateChargeForm.valid|json)}}
				{{(actionsList.selectedOptions.selected.length|json)}}
				{{!(associateChargeForm.valid && actionsList.selectedOptions.selected.length)|json}}
			</div>
		</div>
	</div> -->
<!-- </ng-container> -->