.ss-titre {
	  margin-top: 25px;
    font-size: 1.2em;
    color: #345271;
    border-left: 5px solid #673ab7;
    padding: 2px 5px;
}

.no-taxon {
    font-style: italic;
    font-size: .8em;
    color: #aaa;
    margin-left: 10px;
}