<a mat-raised-button 
	routerLink=".."
	aria-label="Icon d'une fleche vers la gauche" 
	matTooltip="Retourner au menu projet"
>
  <mat-icon>arrow_back</mat-icon> Précédent
</a>

<div class="row">

<div class="col-md-5">
<mat-card>
	<mat-card-title>Gestion des différents états d'avancements associés aux tâches</mat-card-title>

	<mat-card-subtitle>Liste des éléments enregistrés</mat-card-subtitle>

	<mat-card-content>

		<mat-list>
			<ng-container *ngIf="(avancements||[]).length; else noAvancement">

				<ng-container *ngFor="let avancement of avancements|sortBy:'asc':'nom'; let last = last;">

				  <mat-list-item (click)="select(avancement)">
				  	<span class="d_id">#{{ avancement.id }}</span>
				  	<span class="d_nom">{{ avancement.libelle }}</span>
				  </mat-list-item>
				  <mat-divider *ngIf="!last"></mat-divider>

				</ng-container>

			</ng-container>

			<ng-template #noAvancement>
				<mat-list-item>Aucun état d'avancement enregistré</mat-list-item>
			</ng-template>

			<button 
				(click)="addAvancement()"
				mat-raised-button 
				color="primary">
				<mat-icon>add</mat-icon> Ajouter
			</button>
		</mat-list>
	</mat-card-content>
	<mat-card-actions>
		
	</mat-card-actions>
</mat-card>
</div>

<div class="col-md-7">
	<mat-card>
		<mat-horizontal-stepper #stepper>

			<mat-step>
				<mat-card-title>Détails</mat-card-title>
				<mat-card-subtitle>Selectionner un état d'avancement dans la liste</mat-card-subtitle>
				<mat-card-content>
					<app-projet-admin-avancement-info></app-projet-admin-avancement-info>
				</mat-card-content>
			</mat-step>

			<mat-step>
				<mat-card-title>
					<ng-container *ngIf="avancement; else createForm">
						Modification de "{{ avancement.libelle }}"
					</ng-container>
					<ng-template #createForm>
						Ajout d'un état d'avancement
					</ng-template>
				</mat-card-title>
				<mat-card-subtitle>Veuillez compléter ces informations</mat-card-subtitle>
				<mat-card-content>
					<app-projet-projet-avancement-form></app-projet-projet-avancement-form>
				</mat-card-content>
			</mat-step>

		</mat-horizontal-stepper>
	</mat-card>
</div>