{{form.value|json}}
<mat-form-field>
	<mat-label>
		<mat-spinner 
			*ngIf="loading"
			diameter="20"
			strokeWidth="2"
		>
		</mat-spinner>
		{{ label }}
	</mat-label>
  <input 
	  type="text" 
	  placeholder="Rechercher une tâche" 
	  matInput 
	  [required]="required" 
	  [formControl]="inputTerm" 
	  [matAutocomplete]="auto">
  <mat-autocomplete 
  	#auto="matAutocomplete"
  	[displayWith]="displayFn.bind(this)">
  	<mat-optgroup 
  		*ngFor="let project of (filteredOptions | async)" 
  		label="{{ project.code }} {{ project.intitule }}">
	    <mat-option *ngFor="let task of project.tasks" [value]="task['@id']">
	      <small>{{ task.intitule }}</small>
	    </mat-option>
	  </mat-optgroup>
  </mat-autocomplete>
</mat-form-field>