<ng-container *ngIf="avancement">

	<div class="edit-delete-bloc-btn">
		<button 
			mat-mini-fab
			matTooltip="Modifier"
			color="primary"
			(click)="edit(avancement)">
	    <mat-icon>edit</mat-icon>
	  </button>
	  <button 
	  	*ngIf="avancement.removable"
			mat-mini-fab
			matTooltip="Supprimer"
			color="warn"
			(click)="delete(avancement)">
	    <mat-icon>clear</mat-icon>
	  </button>
	</div>

	<div class="item-metadata">
		<span>Création : le {{ avancement.createdAt | date:'dd/MM/yyyy'}} par {{ avancement.createdBy?.nomPrenom || 'inconnu' }}</span>
		<span *ngIf="avancement.updatedAt"> - Modification : le {{ avancement.updatedAt | date:'dd/MM/yyyy'}} par {{ avancement.updatedBy?.nomPrenom || 'inconnu'}}</span>
	</div>

	<div class="row">
		<div class="col-4">
			<div class="detail-element">
				<div class="element-label"> Libelle </div>
				<div class="element-content"> {{ avancement.libelle }} </div>
			</div>
		</div>

		<div class="col-4">
			<div class="detail-element">
				<div class="element-label"> Ordre dans la liste déroulante </div>
				<div class="element-content"> {{ avancement.ordre }} </div>
			</div>
		</div>
	</div>

	<div>
		<div class="detail-element">
			<div class="element-label"> Description </div>
			<div class="element-content"> {{ avancement.description }} </div>
		</div>
	</div>

	<!-- <h5>Liste des Projets</h5>
	
	<div>
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Antenne</th>
					<th>Fonction</th>
					<th>Taux (%)</th>
					<th>Début</th>
					<th>Fin</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let salarie of personne.salaries;">
					<td>{{ salarie.antenne.nom }}</td>
					<td>{{ salarie.fonction.libelle }}</td>
					<td>{{ salarie.taux }}</td>
					<td>{{ salarie.dateDebut }}</td>
					<td>{{ salarie.dateFin }}</td>
					<td>
						<ng-container *ngIf="salarie.removable">
							<button 
								mat-icon-button 
								color="warn"
								(click)="deleteContrat(salarie)">
						    <mat-icon matTooltip="Supprimer cette ligne">clear</mat-icon>
						  </button>
						</ng-container>
					</td>
				</tr>
			</tbody>
		</table>

	</div> -->
</ng-container>