<mat-form-field class="example-full-width">
  <input type="text" placeholder="Rechercher..." aria-label="Number" matInput [formControl]="searchControl" [matAutocomplete]="auto" autocomplete="off">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="submit($event)">
    <mat-option *ngFor="let option of filteredOptions |async" 
	    [value]="option" 
	    style="font-size: .85em;line-height: 32px;height: 32px;"
	    matTooltip="{{option.description}} ({{option.champ}})"
    >
      {{option.description}} ({{option.champ}})
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
