<mat-card *ngIf="loading || antenne">
	<mat-card-title>Information rapide</mat-card-title>

	<ng-container *ngIf="!loading; else loadingTmp">

		<mat-card-content>
			<div class="float-right" style="margin-bottom: 10px;">
			  <button 
			  	*ngIf="antenne.removable"
					mat-mini-fab
					matTooltip="Supprimer"
					color="warn"
					(click)="delete(antenne)">
			    <mat-icon>delete</mat-icon>
			  </button>
			</div>
			<h5> Antenne : {{ antenne.nom }} </h5>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Salarié</th>
						<th>Taux</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="antenne.salaries.length; else noData">
						<tr *ngFor="let salarie of antenne.salaries">
							<td>{{ salarie.personne.nom }} {{ salarie.personne.prenom }}</td>
							<td>{{ salarie.taux }}%</td>
						</tr>
					</ng-container>
					<ng-template #noData>
						<tr><td colspan="2">Aucun salarié</td></tr>
					</ng-template>
				</tbody>
			</table>
		</mat-card-content>
	</ng-container>
	<ng-template #loadingTmp>
		<app-loader message="Récupération des informations "></app-loader>
	</ng-template>
</mat-card>