<div class="container-fluid">
  <div class="row">
    <div class="form-group col-sm-7">
      <mat-form-field>
        <input matInput 
          placeholder="Rechercher"  
          (keyup)="updateSearchbar($event)">
      </mat-form-field>
    </div>  
  </div>
  <h4>Liste des cadres d'acquisition et des jeux de données associés</h4>
  <mat-accordion [multi]="true">
    <ng-container *ngFor="let projet of tempProjets; let idx = index">
      <mat-expansion-panel *ngIf="isDisplayed(idx)" [expanded]="expandAccordions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a mat-icon-button [routerLink]="['..', 'projet', projet.id]" class="bt-edit">
              <mat-icon>edit</mat-icon>
            </a>
            {{ projet.libelle | uppercase }}
          </mat-panel-title>
          <mat-panel-description>
            {{ projet.objet }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <ng-container *ngFor="let mission of projet.missionsTemp">
            <mat-list-item>
              <a class="bt-edit" 
                title="Editer la mission"
                [routerLink]="['/projet', 'mission', mission.id]" >
                <mat-icon>edit</mat-icon>
              </a>
              <span>↳ {{ mission.libelle }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
          <mat-list-item>
            <a mat-stroked-button 
              color="primary"
              [routerLink]="[projet.id, 'mission']">
              + Ajouter une mission</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
  <mat-paginator #paginator
                [length]="tempProjets.length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="changePaginator($event)">
  </mat-paginator>
</div>