<div class="container-fluid">
  <div class="row">
    <div class="form-group col-sm-7">
      <mat-form-field>
        <input matInput 
          [formControl]="filterControl"
          placeholder="Rechercher"  
          autocomplete="off">
      </mat-form-field>
    </div>  
    <div class="col-sm-3">
      <a 
        mat-raised-button 
        routerLink="../projet">
        <mat-icon>add</mat-icon> Nouveau projet
      </a>
    </div>
  </div>
  <h4>Liste des projets</h4>
  <mat-accordion [multi]="true">
    <ng-container *ngFor="let projet of filterProjets|async; let idx = index">
      <mat-expansion-panel *ngIf="isDisplayed(idx)" [expanded]="expandAccordions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <a mat-icon-button [routerLink]="['..', 'projet', projet.id, 'view']" class="bt-edit">
                <mat-icon>remove_red_eye</mat-icon>
              </a>
              #{{ projet.id }} {{ projet.libelle | uppercase }}
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        {{ projet.objet }} 
        <a mat-icon-button [routerLink]="['..', 'projet', projet.id]" class="bt-edit">
          <mat-icon>edit</mat-icon>
        </a>
        <mat-list>
          <ng-container *ngFor="let mission of projet.missions">
            <mat-list-item>
              <a class="bt-edit" 
                title="Editer la mission"
                [routerLink]="['/projet', 'mission', mission.id]" >
                <mat-icon>edit</mat-icon>
              </a>
              <span>↳ {{ mission.libelle }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
          <mat-list-item>
            <a mat-stroked-button 
              color="primary"
              [routerLink]="['../projet', projet.id, 'mission']">
              + Ajouter une mission</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
  <ng-container *ngIf="(filterProjets|async)">
    <mat-paginator #paginator
                  [length]="(filterProjets|async).length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="changePaginator($event)">
    </mat-paginator>
  </ng-container>
</div>