<div id="global-content">


	<app-carto-left-panel></app-carto-left-panel>

	<!--div id="control-fly-to-commune" class="hide hidden-xs">
		<input id="fly-to-commune" type="text" class="form-control" autocomplete="off" placeholder="Rechercher une commune" class="hide">
	</div>
	<div id="control-information" class="hide map-information">
		<div class="alert alert-info" id="map_information" role="alert"><span><img src=""></span> Verification de la construction en cours...</div>
	</div>
	<div id="control-legende" class="hide hidden-xs ol-control">
		<div>
			<span class="legend-display-on pointer"><span class="glyphicon glyphicon-minus legend-minus" title="Masquer la légende"></span> Légende :</span>
			<span class="legend-display-off hide"><img src="" title="Afficher la légende"></span>
		</div>
		<div id="legende" class="legende"></div>
	</div>
	<div>
		<input type="hidden" name="extent[xmin]" id="extent_xmin" data-form="fmr-indicateur" value="">
		<input type="hidden" name="extent[xmax]" id="extent_xmax" data-form="fmr-indicateur" value="">
		<input type="hidden" name="extent[ymin]" id="extent_ymin" data-form="fmr-indicateur" value="">
		<input type="hidden" name="extent[ymax]" id="extent_ymax" data-form="fmr-indicateur" value="">
	</div-->
	<div id="map" #map></div>

	<app-carto-right-panel></app-carto-right-panel>

</div>