<ng-container *ngIf="!loadingList; else loadingTemplate">

	<table class="table">
		<thead>
			<tr>
				<th>Organisme</th>
				<th>Financement</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngIf="financeurs.length; else noFinanceurs">

				<ng-container *ngFor="let financeur of financeurs">
					<tr 
						app-project-financeur-tr
						[(financeur)]="financeur"
						(financeurChange)="financeurChange($event)"
					>
					</tr>
				</ng-container>
			</ng-container>
			<ng-template #noFinanceurs>
				<tr>
					<td colspan="3">
						Pas de financeur pour le moment
					</td>
				</tr>
			</ng-template>
		</tbody>
		<tfoot>
			<tr>
				<th class="table-dark">TOTAL</th>
				<td class="table-dark" colspan="2">{{ total }} €</td>
			</tr>
			<tr 
				app-projet-convention-financeur-form-tr
				(onCreate)="financeurCreate($event)"
			></tr>
		</tfoot>
	</table>

</ng-container>
<ng-template #loadingTemplate>
	<app-loader message="Chargement en cours"></app-loader>
</ng-template>