<aside id="left-sidebar-nav">
  <div>
    <mat-nav-list>

      <ng-container *ngFor="let element of layout.getSidenav()">
        <mat-list-item *ngIf="(user|async).hasRole(element.role) || element.role === undefined">
           <a matLine routerLink="{{ element.url }}" matTooltip="{{ element.tooltip }}">
             {{ element.title }}
           </a>
           <a mat-icon-button routerLink="{{ element.url }}">
              <mat-icon>{{ element.img }}</mat-icon>
           </a>
        </mat-list-item>
      </ng-container>

    </mat-nav-list>
  </div>
</aside>