<mat-form-field>
  <mat-label>
		<mat-spinner 
			*ngIf="loading"
			diameter="20"
			strokeWidth="2"
		>
		</mat-spinner> {{ label }}
  </mat-label>
  <mat-select 
  	[formControl]="form"
  	required>

  		<mat-option *ngIf="loading">
  			<mat-spinner
  				diameter="25"
					strokeWidth="2"
				>
				</mat-spinner> Chargement...
  		</mat-option>

			<ng-container *ngFor="let chargeType of chargeTypes|sortBy:'asc':'orderBy';">
				<mat-option [value]="chargeType['@id']">
		      {{ chargeType.chargeTypeRef.label }}
		    </mat-option>
		  </ng-container>
  </mat-select>
</mat-form-field>