<mat-progress-bar mode="query" *ngIf="taxons === null"></mat-progress-bar>

<ng-container *ngIf="taxons !== null">

  <mat-form-field class="form-element">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput #searchZone
      (keyup)="searchTerm$.next(searchZone.value)" 
      placeholder="Filtrer dans la liste" 
      autocomplete="off">
  </mat-form-field>

  <gr-panel *ngFor="let taxon of taxonsFilter">
    <div class="gr-panel-header">
      <a [routerLink]="['/', 'taxref', 'taxon', taxon.cd_ref]" target="_BLANK" mat-icon-button>
        <mat-icon matTooltip="Fiche Taxref">open_in_new</mat-icon>
      </a>
      <span>{{ taxon.cd_ref }} - {{ taxon.nom_valide }}</span>
      <ng-container *ngIf="(getStatuts(taxon.statuts)).length">
        <mat-icon class="nb-statut" [matBadge]="(getStatuts(taxon.statuts)).length" [matTooltip]="(getStatuts(taxon.statuts)).length + ' statuts'">star</mat-icon>
      </ng-container>
    </div>
    <div class="gr-panel-content">
      <div class="bloc-ligne" *ngIf="taxon.date_min != taxon.date_max"><mat-icon>access_time</mat-icon> Observé du {{ taxon.date_min | date:'dd/MM/yyyy' }} au {{ taxon.date_max | date:'dd/MM/yyyy' }}</div>
      <div class="bloc-ligne" *ngIf="taxon.date_min == taxon.date_max"><mat-icon>access_time</mat-icon> Observé le {{ taxon.date_min | date:'dd/MM/yyyy' }}</div>
      <div class="bloc-ligne"><mat-icon>visibility</mat-icon> {{ taxon.nb_obs }} observations(s)</div>
      <div class="statuts">
        <ng-container *ngIf="(getStatuts(taxon.statuts)).length; else noStatutBlock">
          <header><mat-icon>star_border</mat-icon> Statuts associés au taxon</header>
          <ul>
            <li *ngFor="let statut of getStatuts(taxon.statuts)">{{ statut }}</li>
          </ul>
        </ng-container>
        <ng-template #noStatutBlock><div class="bloc-ligne"><i>Pas de statut pour ce taxon</i></div></ng-template>
      </div>
    </div>
  </gr-panel>

</ng-container>