<div id="v-navbar" class="even">
    <!-- Static navbar -->           

    <nav class="navbar navbar-default" id="main_nav" role="navigation" data-spy="affix" data-offset-top="170" style:"float:initial;">

      <!--div class="container-fluid"-->
        <!--NAVBAR-->

        <div class="navbar-header">  
            <button type="button" id="nav-toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <!--span class="sr-only">Toggle navigation</span-->
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <a class="navbar-brand" href="#">Visualisation des données du GRETIA</a>
            {#<ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actualités <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                    </ul>
                </li>

                <li class="hidden-sm hidden-md dropdown">
                    <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">L'observatoire <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Consulter <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contribuer <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ressources <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                    </ul>
                </li>

                <li class="hidden-sm dropdown">
                    <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partenaires <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                    </ul>
                </li>
            </ul>#}

           
        </div><!--/.nav-collapse -->

      <!--/div-->
    </nav>
</div><!--/.v-navbar-->