<div class="row">
	<ng-container *ngIf="orgFormDisplay == false; else orgFormBlock;">
		<div class="col-9">
			<form [formGroup]="form">
				<mat-form-field>
				  <input matInput #autocompleteInput [matAutocomplete]="auto" 
				  	(keyup)="searchTerm$.next(autocompleteInput.value)" 
				  	placeholder="Recherche organisme" 
				  	formControlName="organisme"
				  	id="auteur" 
				  	class="autocomplete">
				  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
				    <ng-container *ngIf="(!isWaiting && autocomplete.length)">
				      <mat-option *ngFor="let val of autocomplete" [value]="val">
				        <span class="right circle"><i class="mdi mdi-phone"></i></span>
				        <span>{{ val.nom }}</span>
				      </mat-option>
				    </ng-container>
				    <ng-container *ngIf="isWaiting && autocompleteInput.value.length">
				      <mat-option disabled>
				        <span class="left loader"></span>
				        <span>Recherche en cours</span>
				      </mat-option>
				    </ng-container>
				    <ng-container *ngIf="!isWaiting && !autocomplete.length && autocompleteInput.value.length">
				      <mat-option disabled>
				        <mat-icon>error</mat-icon>
				        <span>Aucun résultat ne correspond à la recherche</span>
				      </mat-option>
				    </ng-container>
				  </mat-autocomplete>
				</mat-form-field>
			</form>
		</div>
		<div class="col-3">
			<button mat-mini-fab color="primary" title="ajouter un organisme manquant" (click)="orgFormDisplay=true"><mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon></button>
		</div>
	</ng-container>
	<ng-template #orgFormBlock>
		<h4>Création d'un organisme</h4>
		<div class="col-12">
			<app-projet-admin-organisme-form (saveChange)="orgSave($event)"></app-projet-admin-organisme-form>
			<button type="button" mat-stroked-button (click)="orgFormDisplay=false" style="margin-right: 8px;">Annuler</button>
		</div>
	</ng-template>
	<div mat-dialog-actions *ngIf="orgFormDisplay == false">
	  <button type="button" mat-stroked-button (click)="cancel()" style="margin-right: 8px;">Annuler</button>
	  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">Ajouter</button>
	</div>
</div>
