<form [formGroup]="form" (ngSubmit)="addTravailleur()">
	<div class="row" >
		<mat-form-field class="col-sm-7">
		  <mat-select placeholder="Personne" formControlName="personne">
		  	<mat-option></mat-option>
		  	<ng-container *ngFor="let person of listePersons | async">
		  		
			   	<mat-option *ngIf="!isInProjet(person)" [value]="person">
			      {{person.surnom}}
			    </mat-option>
				</ng-container>
		    
		  </mat-select>
		</mat-form-field>

		<div class="col-sm-5">
			<button mat-flat-button type="submit" [disabled]="!form.valid">Ajouter</button>
		</div>
	</div>
</form>