<h4>Dépôt d'une nouvelle étude</h4>
<div class="row">
	<div class="col-sm-8">

		<form [formGroup]="form" (ngSubmit)="save()">

			<mat-accordion [multi]="true">
				<mat-expansion-panel 
					[expanded]="true">
			    <mat-expansion-panel-header>
			    	<h4>Description</h4>
			    </mat-expansion-panel-header>

					<div class="row">
						<div class="col-9">
							<mat-form-field>
						    <input matInput placeholder="Intitulé"  
						    			required
						    			formControlName="libelle"
						    			id="libelle">
						  </mat-form-field>
						</div>
						<div class="col-3">
							<mat-form-field>
							  <mat-select placeholder="État" formControlName="etat">
							    <mat-option *ngFor="let etat of etats | async" [value]="etat.id">
							      {{ etat.libelle }}
							    </mat-option>
							  </mat-select>
							</mat-form-field>
						</div>
					</div>

					<div class="row">
						<mat-form-field class="col-sm-4">
					    <input matInput placeholder="Localisation"  
					    			formControlName="localisation"
					    			id="localisation">
					  </mat-form-field>

						<mat-form-field class="col-sm-4">
						  <mat-select placeholder="Type de projet" formControlName="type">
						  	<mat-option></mat-option>
						    <mat-option *ngFor="let type of types | async" [value]="type.id">
						      {{type.libelle}}
						    </mat-option>
						  </mat-select>
						</mat-form-field>

						<mat-form-field class="col-sm-4">
						  <mat-select placeholder="Responsable" formControlName="responsable">
						  	<mat-option></mat-option>
						    <mat-option *ngFor="let responsable of responsables | async" [value]="responsable.id">
						      {{responsable.surnom}}
						    </mat-option>
						  </mat-select>
						</mat-form-field>
					</div>

					<div *ngIf="projet.id === undefined || form.dirty">
			  		<button type="submit" mat-raised-button style="min-width: 0; margin-top: 20px;" color="primary" [disabled]="!form.valid"><mat-icon>done</mat-icon>
			  			{{ (projet.id === undefined) ? 'Enregistrer' : 'Modifier'}}
			  		</button>
				  </div>
				</mat-expansion-panel>

				<div class="row">
					<div class="col-sm-4">
						<mat-expansion-panel 
							[expanded]="true">
					    <mat-expansion-panel-header>
					    	<h4>Détails</h4>
					    </mat-expansion-panel-header>

					    <mat-form-field>
						    <input matInput placeholder="Objet de l'étude"  
						    			formControlName="objet"
						    			id="objet">
						  </mat-form-field>

						  <mat-form-field>
						    <input matInput placeholder="Milieu(x) concerné(s)"  
						    			formControlName="milieux"
						    			id="milieux">
						  </mat-form-field>

						  <mat-form-field>
						    <input matInput placeholder="Groupe(s) étudié(s)"  
						    			formControlName="groupes"
						    			id="groupes">
						  </mat-form-field>
							

							<!--div *ngIf="projet.id === undefined || form.dirty">
					  		<button type="submit" mat-raised-button style="min-width: 0; margin-top: 20px;" color="primary" [disabled]="!form.valid"><mat-icon>done</mat-icon>
					  			{{ (projet.id === undefined) ? 'Enregistrer' : 'Modifier'}}
					  		</button>
						  </div-->
						</mat-expansion-panel>
					</div>

					<div class="col-sm-4">
						<mat-expansion-panel 
							[expanded]="true">
					    <mat-expansion-panel-header>
					    	<h4>Coûts</h4>
					    </mat-expansion-panel-header>

					    <mat-form-field>
						    <input matInput placeholder="Nombre de jour (hors ss-traitant)"  
						    			formControlName="nbJour"
						    			id="nbJour">
						  </mat-form-field>

						  <mat-form-field>
						    <input matInput placeholder="Coût (sans autofin. et GRETIA seul)"  
						    			formControlName="cout"
						    			id="cout">
						  </mat-form-field>

						  <mat-form-field>
						    <input matInput placeholder="Coût total du projet (si pluri, sans autofin.)"  
						    			formControlName="coutTotal"
						    			id="coutTotal">
						  </mat-form-field>
					    
						</mat-expansion-panel>
					</div>

					<div class="col-sm-4">
						<mat-expansion-panel 
							[expanded]="true">
					    <mat-expansion-panel-header>
					    	<h4>Dates</h4>
					    </mat-expansion-panel-header>

					    <mat-form-field>
								<input matInput 
									placeholder="Date de début"
								  [matDatepicker]="dateDebut"
								  formControlName="dateDebut" 
			    			  id="dateDebut">
							  <mat-datepicker-toggle matSuffix [for]="dateDebut"></mat-datepicker-toggle>
							  <mat-datepicker #dateDebut></mat-datepicker>
						  </mat-form-field>
						  <mat-form-field>
						    <input matInput 
						    	placeholder="Date de fin"  
						    	[matDatepicker]="dateFin"
				    			formControlName="dateFin"
				    			id="dateFin">
						    <mat-datepicker-toggle matSuffix [for]="dateFin"></mat-datepicker-toggle>
							  <mat-datepicker #dateFin></mat-datepicker>
						  </mat-form-field>
						  <mat-form-field>
						    <input matInput 
						    	placeholder="Date de rendu"  
				    			[matDatepicker]="dateRendu"
				    			formControlName="dateRendu"
				    			id="dateRendu">
						    <mat-datepicker-toggle matSuffix [for]="dateRendu"></mat-datepicker-toggle>
							  <mat-datepicker #dateRendu></mat-datepicker>
						  </mat-form-field>
						</mat-expansion-panel>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<mat-expansion-panel *ngIf="projet.id !== undefined">
							<mat-expansion-panel-header>
					    	<h4>Assignation du temps<ng-container *ngIf="travailleurs.length"> - {{ travailleurs.length }} personne(s)</ng-container></h4>
					    </mat-expansion-panel-header>
					    <button mat-stroked-button color="primary" type="button" (click)="openTravailleurDialog({})" style="margin-right: 8px;">
					    	<mat-icon>add</mat-icon> Associer quelqu'un
					    </button>
					    <div class="list-group list-group-flush">
							  <div li class="list-group-item" *ngFor="let travailleur of travailleurs; let idx = index">
							  	<div class="row">
							  		<div class="col-sm-5">{{ travailleur.personne.surnom }}</div>
							  		<div class="col-sm-4">{{ travailleur.temps }}</div>
						  			<button type="button" mat-icon-button (click)="openTravailleurDialog(travailleur)">
									    <mat-icon>edit</mat-icon>
									  </button>
										<button type="button" mat-icon-button (click)="removeTravailleurDialog(travailleur)">
									    <mat-icon>clear</mat-icon>
									  </button>
							  	</div>
								</div>
							</div>
						</mat-expansion-panel>
					</div>
				</div>
			</mat-accordion>

		</form>
	</div>

	<ng-container *ngIf="projet.id !== undefined">
		<div class="col-sm-4">
			<mat-accordion [multi]="true">
				<mat-expansion-panel 
					[expanded]="true">
			    <mat-expansion-panel-header>
			    	<h4>Partenaires financiers</h4>
			    </mat-expansion-panel-header>

			    <button mat-stroked-button color="primary" type="button" (click)="openPartenaireDialog('f', partFinanciers)" style="margin-right: 8px;"><mat-icon>add</mat-icon> Ajouter un partenaire</button>

			    <div class="list-group list-group-flush">
					  <div li class="list-group-item" *ngFor="let organisme of partFinanciers; let idx = index">
					  	<div class="row">
					  		<div class="col-sm-8" [matTooltip]="organisme.nom">{{ organisme.sigle }}</div>
								<button type="button" mat-icon-button (click)="removePartenaireDialog('f', organisme)">
							    <mat-icon>clear</mat-icon>
							  </button>
					  	</div>
						</div>
					</div>

			  </mat-expansion-panel>

			  <mat-expansion-panel 
					[expanded]="true">
			    <mat-expansion-panel-header>
			    	<h4>Partenaires techniques</h4>
			    </mat-expansion-panel-header>

			    <button mat-stroked-button color="primary" type="button" (click)="openPartenaireDialog('t', partTechniques)" style="margin-right: 8px;"><mat-icon>add</mat-icon> Ajouter un partenaire</button>

			    <div class="list-group list-group-flush">
					  <div li class="list-group-item" *ngFor="let organisme of partTechniques; let idx = index">
					  	<div class="row">
					  		<div class="col-sm-8" [matTooltip]="organisme.nom">{{ organisme.sigle }}</div>
								<button type="button" mat-icon-button (click)="removePartenaireDialog('t', organisme)">
							    <mat-icon>clear</mat-icon>
							  </button>
					  	</div>
						</div>
					</div>

			  </mat-expansion-panel>

			</mat-accordion>
		</div>
	</ng-container>

</div>
