<h1 mat-dialog-title>
	<ng-container *ngIf="data.travailleur.personne !== undefined">Modif de {{ data.travailleur.personne.surnom }}</ng-container>
	<ng-container *ngIf="data.travailleur.personne === undefined">Ajout d'une personne</ng-container>
</h1>
<form [formGroup]="form" (ngSubmit)="save()">
	<mat-form-field>
	  <mat-select 
	  	placeholder="Personne" 
	  	formControlName="personne">
	    <mat-option *ngFor="let person of personnes | async" [value]="person.id">
	      {{ person.surnom }}
	    </mat-option>
	  </mat-select>
	  <mat-error *ngIf="form.get('personne').hasError('required')">
      Ce champ est obligatoire.
    </mat-error>
	</mat-form-field>

	<mat-form-field>
	  <input matInput 
	  	placeholder="Nombre de jour assigné"  
			formControlName="temps"
			id="temps"
			cdkFocusInitial>
		<mat-error *ngIf="form.get('temps').hasError('required')">
      Ce champ est obligatoire.
    </mat-error>
    <mat-error *ngIf="form.get('temps').hasError('max')">
      Trop de jours donnés ({{ form.get('temps').errors.max.actual }} jours - {{ form.get('temps').errors.max.max }} sont encore disponibles.
    </mat-error>
	</mat-form-field>

	<div mat-dialog-actions>
	  <button type="button" mat-stroked-button (click)="cancel()" style="margin-right: 8px;">Annuler</button>
	  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">{{ (data.travailleur.personne !== undefined) ? 'Modifier' : 'Ajouter' }}</button>
	</div>
</form>