<div class="row justify-content-center">
	<div class="col-sm-8">
	  <h4>{{ projet?.libelle }}</h4>

		<form [formGroup]="form" (ngSubmit)="save()">

		<mat-accordion [multi]="true">

			<mat-expansion-panel 
				[expanded]="firstPanelState"
				(opened)="firstPanelState = true"
       	(closed)="firstPanelState = false">
		    <mat-expansion-panel-header>
		    	<h4>Ajouter une mission au projet</h4>
		    </mat-expansion-panel-header>
				<div class="row">
					<div class="col-9">
						<mat-form-field>
					    <input matInput placeholder="Intitulé"  
					    			required
					    			formControlName="libelle"
					    			id="libelle">
					  </mat-form-field>
					</div>
					<div class="col-3" formGroupName="etat">
						<mat-form-field>
						  <mat-select placeholder="État" formControlName="id">
						    <mat-option *ngFor="let etat of etats | async" [value]="etat.id">
						      {{ etat.libelle }}
						    </mat-option>
						  </mat-select>
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<mat-form-field class="col-sm-4">
				    <input matInput 
				    	placeholder="Nombre de jour"  
			  			formControlName="nbJour"
			  			id="nbJour">
				  </mat-form-field>
				</div>
				<mat-form-field>
					<textarea matInput 
						placeholder="Détail..."
						formControlName="detail"
						id="detail"></textarea>
			  </mat-form-field>

			  <div *ngIf="firstPanelState">
			  	<button type="submit" mat-raised-button style="min-width: 0; margin-top: 20px;" color="primary" [disabled]="!form.valid"><mat-icon>done</mat-icon> Enregistrer</button>
			  </div>
		  </mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
		    	<h4>Assignation du temps<ng-container *ngIf="form.get('travailleurs').length"> - {{ form.get('travailleurs').length }} personne(s)</ng-container></h4>
		    </mat-expansion-panel-header>
		    <button mat-stroked-button color="primary" type="button" (click)="addTravailleur()" style="margin-right: 8px;"><mat-icon>add</mat-icon> Associer quelqu'un</button>
		    <ng-container *ngIf="!firstPanelState">
			  	<button type="submit" mat-raised-button style="min-width: 0; margin-top: 20px;" color="primary" [disabled]="!form.valid"><mat-icon>done</mat-icon> Enregistrer</button>
			  </ng-container>
		    <ng-container *ngFor="let travailleur of form.get('travailleurs').controls; let idx = index">
		    	<app-projet-travailleur-form [travailleurForm]="travailleur"></app-projet-travailleur-form>
		    </ng-container>

			</mat-expansion-panel>

		</mat-accordion>

		</form>

	</div>
</div>
