<div class="row justify-content-center">
	<div class="col-sm-8">
	  <h4>{{ projet?.libelle }}</h4>

		<form [formGroup]="form" (ngSubmit)="save()">

		<mat-accordion [multi]="true">

			<mat-expansion-panel 
				[expanded]="firstPanelState"
				(opened)="firstPanelState = true"
       	(closed)="firstPanelState = false">
		    <mat-expansion-panel-header>
		    	<h4>Ajouter une mission au projet</h4>
		    </mat-expansion-panel-header>
				<div class="row">
					<div class="col-9">
						<mat-form-field>
					    <input matInput placeholder="Intitulé"  
					    			required
					    			formControlName="libelle"
					    			id="libelle">
					  </mat-form-field>
					</div>
					<div class="col-3">
						<mat-form-field>
						  <mat-select placeholder="État" formControlName="etat">
						    <mat-option *ngFor="let etat of etats | async" [value]="etat.id">
						      {{ etat.libelle }}
						    </mat-option>
						  </mat-select>
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<mat-form-field class="col-sm-4">
				    <input matInput 
				    	placeholder="Nombre de jour"  
			  			formControlName="nbJour"
			  			id="nbJour">
				  </mat-form-field>
				  <div class="col-sm-4">
				  	{{ jourInUse }} jours affecté(s)<br><i>({{ mission.nbJour - jourInUse }} jours restant)</i>
				  </div>
				</div>
				<mat-form-field>
					<textarea matInput 
						placeholder="Détail..."
						formControlName="detail"
						id="detail"></textarea>
			  </mat-form-field>

			  <div *ngIf="mission.id === undefined || form.dirty">
		  		<button type="submit" mat-raised-button style="min-width: 0; margin-top: 20px;" color="primary" [disabled]="!form.valid"><mat-icon>done</mat-icon>
		  			{{ (mission.id === undefined) ? 'Enregistrer' : 'Modifier'}}
		  		</button>
			  </div>
		  </mat-expansion-panel>

			<mat-expansion-panel *ngIf="mission.id !== undefined">
				<mat-expansion-panel-header>
		    	<h4>Assignation du temps<ng-container *ngIf="travailleurs.length"> - {{ travailleurs.length }} personne(s)</ng-container></h4>
		    </mat-expansion-panel-header>
		    <button mat-stroked-button color="primary" type="button" (click)="openDialog({})" style="margin-right: 8px;"><mat-icon>add</mat-icon> Associer quelqu'un</button>
		    <div class="list-group list-group-flush">
				  <div li class="list-group-item" *ngFor="let travailleur of travailleurs; let idx = index">
				  	<div class="row">
				  		<div class="col-sm-5">{{ travailleur.personne.surnom }}</div>
				  		<div class="col-sm-4">{{ travailleur.temps }}</div>
			  			<button type="button" mat-icon-button (click)="openDialog(travailleur)">
						    <mat-icon>edit</mat-icon>
						  </button>
							<button type="button" mat-icon-button (click)="removeDialog(travailleur)">
						    <mat-icon>clear</mat-icon>
						  </button>
				  	</div>
					</div>
				</div>
			</mat-expansion-panel>

		</mat-accordion>

		</form>

	</div>
</div>