<mat-form-field>
	<mat-label>
		<mat-spinner 
			*ngIf="loading"
			diameter="20"
			strokeWidth="2"
		>
		</mat-spinner>
		Projet
	</mat-label>
  <input 
	  type="text" 
	  placeholder="Rechercher un projet" 
	  matInput 
	  [formControl]="form" 
	  [matAutocomplete]="auto">
  <mat-autocomplete 
  	#auto="matAutocomplete"
  	[displayWith]="displayFn.bind(this)">
    <mat-option *ngFor="let project of (filteredOptions | async)" [value]="project['@id']">
      {{ project.intitule }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>