<div>
	<mat-button-toggle-group 
		name="fontStyle" 
		appearance="legacy"
	>
	  <mat-button-toggle 
	  	*ngFor="let year of years"
	  	(click)="viewYear = year"
	  	[checked]="year == viewYear"
	  > 
	  	{{ year }} 
	  </mat-button-toggle>
	</mat-button-toggle-group>

	<button 
		class="float-right"
    mat-stroked-button
    color="primary"
    (click)="editionMode = true"
    matTooltip="Permettre la modification"
  >
    <mat-icon>edit</mat-icon> Éditer
  </button>
</div>

<app-projects-tasks-task-weeks
	[year]="viewYear"
	[periods]="periodsValue"
	[displayYear]="true"
	[editionMode]="editionMode"
	(change)="submit($event)"
></app-projects-tasks-task-weeks>