<ng-container 
	*ngIf="displayForm; else displayTemplate"
	[formGroup]="form"
>
	<td>
		<app-projet-control-organisme 
			[form]="form.get('organisme')"
		></app-projet-control-organisme>
	</td>
	<td>
		<button
			mat-raised-button
			type="button"
			color="primary"
			matTooltip="Ajouter l'organisme"
			[disabled]="form.invalid" 
			(click)="save()"
		>
		  <mat-icon>save</mat-icon>
		</button>
		<button
			style="margin-left: 10px;"
			mat-raised-button
			type="button"
			matTooltip="Annuler"
			(click)="cancel()"
		>
		  <mat-icon>clear</mat-icon>
		</button>
	</td>

</ng-container>
<ng-template #displayTemplate>

	<td>{{ signataire.organisme.nom || '-'}}</td>
	<td>
		<ng-container *ngIf="!waiting; else waitingTemplate">
			<button
				mat-icon-button
				class="delete-btn"
				type="button"
				color="primary"
				matTooltip="Modifier cette ligne"
				(click)="edit()"
			>
			  <mat-icon>edit</mat-icon>
			</button>
			<button
				mat-icon-button
				class="delete-btn"
				type="button"
				color="warn"
				matTooltip="Enlever cette ligne"
				(click)="delete()"
			>
			  <mat-icon>clear</mat-icon>
			</button>
		</ng-container>
		<ng-template #waitingTemplate>
			<app-loader message="Enregistrement..."></app-loader>
		</ng-template>
	</td>

</ng-template>