table.task-list {
	width: 100%;
}

table.task-list tr.task-detail-row {
  height: 0;
  background-color: #f5f5f5;
}

table.task-list tr.task-element-row:not(.task-expanded-row):hover {
  background: #f5f5f5;
}

table.task-list tr.task-element-row:not(.task-expanded-row):active {
  background: #efefef;
}

.task-element-row td {
  border-bottom-width: 0;
}

.task-element-detail {
  overflow: hidden;
  display: flex;
  padding: 10px 20px;
}