<ng-container *ngIf="!loadingList; else loadingTemplate">

	<table class="table">
		<thead>
			<tr>
				<th>Projet</th>
				<th>Financement</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngIf="projectFundings.length; else noProjects">
				<ng-container *ngFor="let projectFunding of projectFundings">
					<tr 
						app-project-project-funding-tr
						[(projectFunding)]="projectFunding"
						(projectFundingChange)="projectFundingChange($event)"
					>
					</tr>
				</ng-container>
			</ng-container>
			<ng-template #noProjects>
				<tr>
					<td colspan="3">
						Pas de financement de projet pour le moment
					</td>
				</tr>
			</ng-template>
		</tbody>
		<tfoot>
			<tr>
				<th class="table-dark">TOTAL</th>
				<td class="table-dark" colspan="2">{{ total | number:'':'fr' }} €</td>
			</tr>
			<tr 
				app-projet-convention-project-funding-form-tr
				(onCreate)="projectFundingCreate($event)"
			></tr>
		</tfoot>
	</table>

</ng-container>
<ng-template #loadingTemplate>
	<app-loader message="Chargement en cours"></app-loader>
</ng-template>