<a mat-raised-button 
	routerLink=".."
	aria-label="Icon d'une fleche vers la gauche" 
	matTooltip="Revenir à la liste des conventions"
>
  <mat-icon>arrow_back</mat-icon> Précédent
</a>

<mat-card>
	<mat-tab-group 
		[dynamicHeight]="true"
		[selectedIndex]="selectedIndex|async"
    (selectedIndexChange)="selectedIndex.next($event)"
  >

	  <mat-tab> 
	  	<ng-template mat-tab-label> Détails </ng-template>

	  	<ng-container *ngIf="!loading; else loadingTemplate">

	  		<ng-container *ngIf="convention && !displayForm; else formTemplate">
	  			<div class="float-right" style="margin-bottom: 10px;">
					  <button 
							mat-mini-fab
							matTooltip="Modifier ces informations"
							color="primary"
							(click)="edit()">
					    <mat-icon>edit</mat-icon>
					  </button>
					</div>
			  	<div>
			  		<h5> {{ convention.intitule }} </h5>

			  		<div class="row">
			  			<div class="col-sm-3">Descriptif</div>
			  			<div class="col-sm-9"> {{ convention.description }} </div>
			  		</div>

			  	</div>
			  	<div>
			  		<small>Créé le {{ convention.createdAt|date:'dd/MM/y' }}</small>
			  	</div>
	  		</ng-container>
	  		<ng-template #formTemplate>
	  			<app-project-convention-form></app-project-convention-form>
  				<div>
				    <button 
				      mat-raised-button
				      style="margin-right: 10px;"
				      (click)="cancel()">
				      Annuler
				    </button>
				    <app-submit-btn
				    	[disabled]="!form.valid"
				    	[text]="convention?.id ? 'Modifier' : 'Ajouter'"
				    	[waiting]="loading"
				    	(click)="save()"
				    >
				    	<mat-icon>done</mat-icon> <span>{{ convention?.id ? 'Modifier' : 'Ajouter' }}</span>
				    </app-submit-btn>
<!-- 				    <button mat-button
	      			class="form-element waves-effect waves-light btn"
	      			type="submit"
	      			color="primary" 
	      			mat-raised-button
	      			[disabled]="!form.valid"
				  		(click)="save()"
				  	>
				  		<ng-container
	      			<mat-spinner 
	      				*ngIf="waiting"
								diameter="25"
								strokeWidth="2">
							</mat-spinner> Suivant
						</button>
				  	<button 
				  		mat-raised-button 
				  		style="min-width: 0; margin-top: 20px;" 
				  		color="primary" 
				  		[disabled]="!form.valid"
				  		(click)="save()">
				  		<mat-icon>done</mat-icon> {{ convention?.id ? 'Modifier' : 'Ajouter' }}
				  	</button> -->
				  </div>
	  		</ng-template>

	  	</ng-container>
	  	<ng-template #loadingTemplate>
	  		<app-loader message="Chargement en cours"></app-loader>
	  	</ng-template>

	  	<!-- <div style="padding:10px;">
				<ng-container *ngIf="!displayForm; else formElement">
		  		<app-projet-projet-display></app-projet-projet-display>
		  	</ng-container>
		  	<ng-template #formElement>
		  		<app-projet-projet-form></app-projet-projet-form>
		  	</ng-template>
		  </div> -->
	  </mat-tab>

	  <mat-tab *ngIf="!loading && convention"> 
	  	<ng-template mat-tab-label> Financeur(s) </ng-template> 
	  	<app-project-convention-financeurs></app-project-convention-financeurs>
	  </mat-tab>

	  <mat-tab *ngIf="!loading && convention"> 
	  	<ng-template mat-tab-label> Signataire(s) </ng-template> 
	  	<app-project-convention-signataires></app-project-convention-signataires>
	  </mat-tab>

	  <mat-tab *ngIf="!loading && convention"> 
	  	<ng-template mat-tab-label> Projet(s) financé(s) </ng-template> 
	  	<app-project-convention-project-fundings></app-project-convention-project-fundings>
	  </mat-tab>

	  <mat-tab *ngIf="!loading && convention"> 
	  	<ng-template mat-tab-label> Échéance(s) </ng-template> 
	  	<app-project-convention-deadlines></app-project-convention-deadlines>
	  </mat-tab>

	  <mat-tab *ngIf="!loading && convention"> 
	  	<ng-template mat-tab-label> Versement(s) </ng-template> 
	  		<div>Date demande</div>
				<div>Date realisation</div>
				<div>Justificatif (doc)</div>
	  	<!-- <app-projet-projet-financement></app-projet-projet-financement> -->
	  </mat-tab>

	</mat-tab-group>
</mat-card>