<div class='row'>
	<div class="col-sm-6">
		<label for="ls_commune">
			<input type="radio" name="echelle" id="ls_commune" data-form="fmr-indicateur" value="communes"> Communes
		</label>
	</div>

	<div class="col-sm-6">
		<label for="ls_maille10utm">
			<input type="radio" name="echelle" id="lsmaille_utm_10" data-form="fmr-indicateur" value="maille_utm_10"> Mailles UTM 10km
		</label>
	</div>

	<div class="col-sm-6">
		<label for="ls_maille10">
			<input type="radio" name="echelle" id="ls_maille10" data-form="fmr-indicateur" value="maille10"> Mailles 10km
		</label>
	</div>

	<div class="col-sm-6">
		<label for="ls_maille5">
			<input type="radio" name="echelle" id="ls_maille5" data-form="fmr-indicateur" value="maille5" checked="true"> Mailles 5km
		</label>
	</div>

	<div class="col-sm-6">
		<label for="ls_maille2">
			<input type="radio" name="echelle" id="ls_maille2" data-form="fmr-indicateur" value="maille2"> Mailles 2km
		</label>
	</div>

	<div class="col-sm-6">
		<label for="ls_maille1">
			<input type="radio" name="echelle" id="ls_maille1" data-form="fmr-indicateur" value="maille1"> Mailles 1km
		</label>
	</div>

	{#<div class="col-sm-6">
		<label for="ls_maille500">
			<input type="radio" name="echelle" id="ls_maille500" data-form="fmr-indicateur" value="maille500"> Mailles 500m
		</label>
	</div>

	<div class="col-sm-6">
		<label for="ls_maille200">
			<input type="radio" name="echelle" id="ls_maille200" data-form="fmr-indicateur" value="maille200"> Mailles 200m
		</label>
	</div>

	<div class="col-sm-6">
		<label for="ls_maille100">
			<input type="radio" name="echelle" id="ls_maille100" data-form="fmr-indicateur" value="maille100"> Mailles 100m
		</label>
	</div>

	<div class="col-sm-6">
		<label for="ls_precise">
			<input type="radio" name="echelle" id="ls_precise" data-form="fmr-indicateur" value="precise" disabled> Précises
		</label><span id="info_precise" style="font-size:15px;" class="glyphicon glyphicon-info-sign showPopover" data-trigger="hover" data-toggle="popover" data-original-title="Information" data-content="Il est nécessaire de filtrer sur un territoire avant de pouvoir afficher la donnée précise."></span>
	</div>#}
	
</div>