<label for="cc_all_couche"><input type="checkbox" class="checkbox mere" id="cc_all_couche" name="cc_all_couche" value="" onclick="clicCB(this);" checked="true">Toutes sources</label>
<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#eta_publics" aria-expanded="false" aria-controls="eta_publics">
	Établissements publics
	</div>
	<div class="panel-body collapse"  id="eta_publics">
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="1" data-img="/ofsa/images/partenaires/wh80px/cbnsa.png" data-url="http://cbnsa.fr/">CBN Sud-Atlantique <span class="layer-info organisme-info" data-url="/organisme/fiche/1"><img src='/ofsa/images/Cartographie/information.png'/></span>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="94" data-img="/ofsa/images/partenaires/wh80px/cbnmc.png" data-url="http://cbnmc.fr/">CBN du Massif Central <span class="layer-info organisme-info" data-url="/organisme/fiche/7"><img src='/ofsa/images/Cartographie/information.png'/></span>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="41" data-img="/ofsa/images/partenaires/wh80px/cbnpmp.png" data-url="http://cbnpmp.blogspot.fr/">CBN des Pyrénées et de Midi-Pyrénées <span class="layer-info organisme-info" data-url="/organisme/fiche/8"><img src='/ofsa/images/Cartographie/information.png'/></span>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"data-form="fmr-indicateur" name="organisme[]" value="8" data-img="/ofsa/images/partenaires/wh80px/onf.png" data-url="http://www.onf.fr/">Office National des Forêts <span class="layer-info organisme-info" data-url="/organisme/fiche/2"><img src='/ofsa/images/Cartographie/information.png'/></span>
			</label>
		</div>

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#associations" aria-expanded="false" aria-controls="associations">
	Associations
	</div>
	<div class="panel-body collapse"  id="associations">
		
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="19" data-img="/ofsa/images/partenaires/wh80px/ajblpj.png" data-url="http://www.jardinbotaniquelittoral-saintjeandeluz.fr/">Amis du Jardin botanique littoral Paul Jovet
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"  data-form="fmr-indicateur" name="organisme[]" value="16" data-img="/ofsa/images/partenaires/wh80px/cen-aq.png" data-url="http://cen-aquitaine.org/">CEN Aquitaine <span class="layer-info organisme-info" data-url="/organisme/fiche/3"><img src='/ofsa/images/Cartographie/information.png'/></span>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="139" data-img="/ofsa/images/partenaires/wh80px/charente-nature.png" data-url="http://www.charente-nature.org">Charente Nature
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"data-form="fmr-indicateur" name="organisme[]" value="38" data-img="/ofsa/images/partenaires/wh80px/cpie-pays-serres.png" data-url="http://www.cpie47.fr/">CPIE Pays de Serres - Vallée du Lot
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"data-form="fmr-indicateur" name="organisme[]" value="66" data-img="/ofsa/images/partenaires/wh80px/cpie-seignanx.png" data-url="http://www.cpie-seignanx.com/">CPIE Seignanx et Adour
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"  data-form="fmr-indicateur" name="organisme[]" value="21" data-img="/ofsa/images/partenaires/wh80px/cen-pc.png" data-url="http://www.cren-poitou-charentes.org/">CREN Poitou-Charentes <span class="layer-info organisme-info" data-url="/organisme/fiche/4"><img src='/ofsa/images/Cartographie/information.png'/></span>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="47" data-img="/ofsa/images/partenaires/wh80px/dsne.png" data-url="http://www.nature79.org">Deux-Sèvres Nature Environnement
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="6, 11" data-img="http://www.eau-poitou-charentes.org/IMG/jpg/LogoFREDON.jpg" data-url="http://www.fredons-fdgdons.fr/">FREDON (Aquitaine et Poitou-Charentes) <span class="layer-info organisme-info" data-url="/organisme/fiche/5"><img src='/ofsa/images/Cartographie/information.png'/></span>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="50" data-img="/ofsa/images/partenaires/wh80px/lpo.png" data-url="https://www.lpo.fr/">Ligue de Protection des Oiseaux
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="141" data-img="/ofsa/images/partenaires/wh80px/nat-env17.png" data-url="http://www.nature-environnement17.org">Nature Environnement 17
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"  data-form="fmr-indicateur" name="organisme[]" value="9, 31, 47, 50, 139, 141, 148" data-img="/ofsa/images/partenaires/wh80px/pcn.png" data-url="http://www.poitou-charentes-nature.asso.fr/">Poitou-Charentes Nature <span class="layer-info organisme-info" data-url="/organisme/fiche/6"><img src='/ofsa/images/Cartographie/information.png'/></span>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"data-form="fmr-indicateur" name="organisme[]" value="39" data-img="/ofsa/images/partenaires/wh80px/null.png" data-url="#">SEPANLOG
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="146" data-img="/ofsa/images/partenaires/wh80px/sfo-aq.png" data-url="https://www.sfoaquitaine.com/">SFO Aquitaine
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="31" data-img="/ofsa/images/partenaires/wh80px/sfo-pc.png" data-url="http://www.orchidee-poitou-charentes.org/">SFO Poitou-Charentes-Vendée
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"  data-form="fmr-indicateur" name="organisme[]" value="4" data-img="/ofsa/images/partenaires/wh80px/sbco.png" data-url="http://sbco.free.fr/">Société Botanique du Centre-Ouest
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="29" data-img="/ofsa/images/partenaires/wh80px/sbp.png" data-url="https://www.sites.google.com/site/botanique24/">Société Botanique du Périgord
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="2" data-img="/ofsa/images/partenaires/wh80px/slb.png" data-url="http://linneenne-bordeaux.pagesperso-orange.fr/">Société Linnéenne de Bordeaux
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"data-form="fmr-indicateur" name="organisme[]" value="148" data-img="/ofsa/images/partenaires/wh80px/vienne-nature.png" data-url="http://www.vienne-nature.asso.fr">Vienne Nature
			</label>
		</div>
		
		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#pars_res" aria-expanded="false" aria-controls="pars_res">
	Parcs, réserves et jardins botaniques
	</div>
	<div class="panel-body collapse"  id="pars_res">

		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="14" data-img="/ofsa/images/partenaires/wh80px/pnr-lg.png" data-url="http://www.parc-landes-de-gascogne.fr/">PNR des Landes de Gascogne
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="44" data-img="/ofsa/images/partenaires/wh80px/pnr-mp.png" data-url="http://www.parc-marais-poitevin.fr/">PNR du Marais poitevin
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-form="fmr-indicateur" name="organisme[]" value="74" data-img="/ofsa/images/partenaires/wh80px/pnr-pl.png" data-url="http://www.pnr-perigord-limousin.fr/">PNR Périgord-Limousin
			</label>
		</div>

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#collect_epci" aria-expanded="false" aria-controls="collect_epci">
	Collectivités et EPCI
	</div>
	<div class="panel-body collapse"  id="collect_epci">

		<div class="checkbox">
			<label>
				<input type="checkbox"  data-form="fmr-indicateur" name="organisme[]" value="30" data-img="/ofsa/images/partenaires/wh80px/dept-40.png" data-url="http://www.landes.fr/">Conseil départemental des Landes
			</label>
		</div>

	</div>
</div>

