<div>

	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#regions" aria-expanded="false" aria-controls="regions">
		Anciennes régions
		</div>
		<div class="panel-body collapse"  id="regions">
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="1"> Basse-Normandie
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="2"> Bretagne
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="3"> Pays-de-la-Loire
				</label> 
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#departements" aria-expanded="false" aria-controls="departements">
		Départements
		</div>
		<div class="panel-body collapse"  id="departements">
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="5"> Calvados (14)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="6"> Côte d'Armor (22)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="7"> Finistère (29)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="8"> Ille-et-Vilaine (35)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="9"> Loire-Atlantique (44)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="10"> Maine-et-Loire (49)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="11"> Mayenne (53)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="12"> Sarthe (72)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="13"> Orne (61)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="14"> Manche (50)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="15"> Morbihan (56)
				</label> 
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="16"> Vendée (85)
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="18"> Deux-Sèvres (79)
				</label>
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#epci" aria-expanded="false" aria-controls="epci">
		Collectivités et EPCI
		</div>
		<div class="panel-body collapse"  id="epci">
			<div class='checkbox'>
				<label>	
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="21"> CC du pays de Pont-Château - Saint-Gildas-des-Bois (44)
				</label> 
			</div>
			<div class='checkbox'>
				<label>	
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="25"> Nantes Métropole (44)
				</label> 
			</div>
			<div class='checkbox'>
				<label>	
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="24"> Baugé-en-Anjou (49)
				</label> 
			</div>
			<div class='checkbox'>
				<label>	
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="19"> CC Loire Layon Aubance (49)
				</label> 
			</div>
			<div class='checkbox'>
				<label>	
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="23"> CC des Vallées du Haut-Anjou (49)
				</label> 
			</div>
			<div class='checkbox'>
				<label>	
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="20"> CC des Coëvrons (53)
				</label> 
			</div>
			<div class='checkbox'>
				<label>	
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="22"> CC Sud-Vendée-Littoral (85)
				</label> 
			</div>
		</div>
	</div>



	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#parcs" aria-expanded="false" aria-controls="parcs">
		Parcs et réserves
		</div>
		<div class="panel-body collapse"  id="parcs">
			<div class='checkbox'>
				<label>	
					<input type="checkbox" data-form="fmr-indicateur" name="territoire[]" value="4"> PNR Normandie-Maine
				</label> 
			</div>
		</div>
	</div>	

</div>