<h6>Ajouter un contrat</h6>

<app-project-project-type-form-template [form]="form"></app-project-project-type-form-template>

<div>
  <button 
  	type="button"
    mat-raised-button
    style="margin-right: 10px;"
    (click)="cancel()">
    Annuler
  </button>
	<button 
		mat-raised-button 
		type="button"
		style="min-width: 0; margin-top: 20px;" 
		color="primary" 
		[disabled]="!form.valid"
		(click)="save()">
		<mat-icon>done</mat-icon> {{ isEdit() ? 'Modifier' : 'Ajouter' }}
	</button>
</div>
