<ng-container *ngIf="projet">
<form [formGroup]="form">

	<div class="row">
	  <div class="col-md-4">
			<app-projet-control-charge-type 
				label="Catégorie" 
				[form]="form.get('chargeType')" 
				[dateFilter]="projet.dateDebut"
			>
			</app-projet-control-charge-type>
		</div>

	  <mat-form-field class="col-md-8">
	    <input 
		    matInput 
		    placeholder="Intitulé"  
  			required
  			formControlName="label">
	  </mat-form-field>

	</div>

	<div>
		<mat-form-field>
	    <textarea
		    matInput 
		    placeholder="Description"  
  			formControlName="description">
  		</textarea> 
	  </mat-form-field>
	</div>

	<div class="row">
	  <mat-form-field class="col-md-4">
	    <input 
		    matInput 
		    placeholder="Coût appliqué"
		    type="number"
  			required
  			formControlName="unitCostApplied">
  			<mat-icon matSuffix>euro_symbol</mat-icon>
	  </mat-form-field>

		<mat-form-field class="col-md-4">
	    <input 
		    matInput 
		    placeholder="Quantité" 
		    type="number"
  			required
  			formControlName="quantity">
	  </mat-form-field>

	  <div class="col-md-4 btn-place">
	  	<app-submit-btn
	    	[disabled]="form.invalid"
	    	[waiting]="waiting"
	    	(click)="submit()"
	    >
	    	{{ charge === null ? 'Ajouter' : 'Modifier' }}
	    </app-submit-btn>
			<button 
				*ngIf="!waiting"
				type="button"
				(click)="cancel()"
				mat-raised-button 
			>
				Annuler
			</button>
	  </div>
	</div>
</form>
</ng-container>