.table button.mat-icon-button {
	width: 24px!important;
	height: 24px!important;
	line-height: 24px!important;
}

.table tr td:nth-child(1) {
  width: 100px;
}

.table tr td:nth-child(2) {
  width: 200px;
}

.table tr td:nth-child(3) {
  width: auto;
}

.table tr td:nth-child(4) {
  width: 150px;
}

.table tr td:nth-child(5) {
  width: 150px;
}

.table tr td:nth-child(6) {
  width: 150px;
}

.table tr td.waiting {
	padding: 5px 2px;
}

.table tr td > mat-icon {
  vertical-align: -7px;
}

td.over {
  color: red;
}

td.not-over {
  color: green;
}