<form [formGroup]="form">

	<div class="row">
		<mat-form-field class="col-md-6">
	    <input 
		    matInput 
		    placeholder="Nom"  
  			required
  			formControlName="nom">
	  </mat-form-field>
	</div>

	<div>
    <button 
      mat-raised-button
      style="margin-right: 10px;"
      (click)="cancel()">
      Annuler
    </button>
  	<button 
  		mat-raised-button 
  		style="min-width: 0; margin-top: 20px;" 
  		color="primary" 
  		[disabled]="!form.valid"
  		(click)="save()">
  		<mat-icon>done</mat-icon> {{ localisation?.id ? 'Modifier' : 'Ajouter' }}
  	</button>
  </div>
</form>