<form [formGroup]="form" (ngSubmit)="save()">

	<div>
		<mat-form-field>
	    <input matInput placeholder="Nom"  
	    			required
	    			formControlName="nom"
	    			id="nom">
	  </mat-form-field>
	</div>

	<div>
		<mat-form-field>
	    <input matInput placeholder="Sigle"  
	    			formControlName="sigle"
	    			id="sigle">
	  </mat-form-field>
	</div>

	<div>
  	<button type="submit" mat-raised-button style="min-width: 0; margin-top: 20px;" color="primary" [disabled]="!form.valid"><mat-icon>done</mat-icon> Enregistrer</button>
  </div>
</form>