<a mat-raised-button 
	routerLink=".."
	aria-label="Icon d'une fleche vers la gauche" 
	matTooltip="Revenir à la gestion des salariés"
>
  <mat-icon>arrow_back</mat-icon> Précédent
</a>

<h4>Liste des projets déposés</h4>

<div style="margin-bottom: 10px;">
  <button 
    (click)="createProject()"
    type="button"
    mat-raised-button 
    color="primary">
    <mat-icon>add</mat-icon> Déposer un projet
  </button>
</div>

<table 
  mat-table 
  [dataSource]="dataSource" 
  matSort
  class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Cost Description Column -->
  <ng-container matColumnDef="searcher">
    <th mat-header-cell *matHeaderCellDef colspan="5">
      <mat-form-field style="width: 50%;">
        <input matInput 
          placeholder="Rechercher..." 
          [formControl]="filterInput">
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
    <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="intitule">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Intitulé </th>
    <td mat-cell *matCellDef="let element"> 
    	<a [routerLink]="[element.id]" 
    		matTooltip="Ouvrir le projet {{ element.intitule }}"
    	><b>{{ element.intitule }}</b></a>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="dateDebut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Commencement </th>
    <td mat-cell *matCellDef="let element"> {{ element.dateDebut }} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="dateFin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fin </th>
    <td mat-cell *matCellDef="let element"> {{ element.dateFin }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="clos">
    <th mat-header-cell *matHeaderCellDef> Cloturé </th>
    <td mat-cell *matCellDef="let element"> 
    	<button 
      mat-icon-button 
      color="primary" 
      aria-label="bouton icone avec une croix ou un V"
      (click)="changeStatus(element)">
    		<span [ngClass]="element.clos ? 'done' : 'pending'">
    			<mat-icon>{{ element.clos ? 'done' : 'clear' }}</mat-icon>
    		</span>
		  </button>
		 </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-header-row *matHeaderRowDef="['searcher']"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>