<div class="legend-panel" *ngIf="layerS.layers.length">
	<div class="legend-panel-header">Légende :
		<table>
			<tr>
				<td><b>Échelle</b> :</td>
				<td>{{ layerS.scale.label }}</td>
			</tr>
			<tr *ngIf="layerS.periodes.length">
				<td><b>Période{{ layerS.periodes.length > 1 ? 's' : '' }}</b> :</td>
				<td>
					<div *ngFor="let periode of layerS.periodes; let isFirst = first;">
						<ng-container *ngIf="!isFirst">ET </ng-container>
						<ng-container *ngIf="periode.start && !periode.end">à partir du {{ periode.start|date:'dd/MM/yyyy' }}</ng-container>
						<ng-container *ngIf="!periode.start && periode.end">avant {{ periode.end|date:'dd/MM/yyyy' }}</ng-container>
						<ng-container *ngIf="periode.start && periode.end">du {{ periode.start|date:'dd/MM/yyyy' }} au {{ periode.end|date:'dd/MM/yyyy' }}</ng-container>
					</div>
				</td>
			</tr>
			<tr *ngIf="layerS.saisons.length">
				<td><b>Saison{{ layerS.saisons.length > 1 ? 's' : '' }}</b> :</td>
				<td>
					<div *ngFor="let saison of layerS.saisons; let isFirst = first;">
						<ng-container *ngIf="!isFirst">ET </ng-container>
						<ng-container *ngIf="saison.start && !saison.end">à partir du {{ saison.start }}</ng-container>
						<ng-container *ngIf="!saison.start && saison.end">avant {{ saison.end }}</ng-container>
						<ng-container *ngIf="saison.start && saison.end">du {{ saison.start }} au {{ saison.end }}</ng-container>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="legend-panel-content">
		<div *ngFor="let layer of layerS.layers">
			<ng-container *ngIf="layer.olLayer.get('displayInLegend')">
				<ng-container [ngSwitch]="layer.type">

					<ng-container *ngSwitchCase="'pression'">
					  <ng-container *ngIf="layer.state == 'done'">
							<div class="legend-layer">
								<div>
									<mat-icon class="float-left pointer remove-layer" 
										(click)="layer.olLayer.set('displayInLegend', false)"
										(click)="layer.olLayer.setVisible(false)"
										matTooltip="Enlever cette couche de la carte">clear</mat-icon>
										
									<mat-icon class="float-left pointer"
										matTooltip="Masquer cette couche"
										(click)="layer.olLayer.setVisible(!layer.olLayer.getVisible())">
										{{ (layer.olLayer.getVisible()) ? 'visibility' : 'visibility_off' }}
									</mat-icon> {{layer.olLayer.get('title')}}
								</div>
								<div class="legend-layer-color" *ngIf="layer.olLayer.getVisible()">
									<div class="row-legende" *ngFor="let element of layerS.getLegende(layer)">
										<span class="color" [ngStyle]="{'background-color': element.color}"></span><span class="libelle">{{element.label}}</span>
									</div>
								</div>
							</div>
						</ng-container>
				  </ng-container>

					<ng-container *ngSwitchCase="'richesse'">
					  <ng-container *ngIf="layer.state == 'done'">
							<div class="legend-layer">
								<div>
									<mat-icon class="float-left pointer remove-layer" 
										(click)="layer.olLayer.set('displayInLegend', false)"
										(click)="layer.olLayer.setVisible(false)"
										matTooltip="Enlever cette couche de la carte">clear</mat-icon>

									<mat-icon class="float-left pointer"
										matTooltip="Masquer cette couche"
										(click)="layer.olLayer.setVisible(!layer.olLayer.getVisible())">
										{{ (layer.olLayer.getVisible()) ? 'visibility' : 'visibility_off' }}
									</mat-icon> {{layer.olLayer.get('title')}}
								</div>
								<div class="legend-layer-color" *ngIf="layer.olLayer.getVisible()">
									<div class="row-legende" *ngFor="let element of layerS.getLegende(layer)">
										<span class="color" [ngStyle]="{'background-color': element.color}"></span><span class="libelle">{{element.label}}</span>
									</div>
								</div>
							</div>
						</ng-container>
				  </ng-container>
					
				  <ng-container *ngSwitchCase="'repartition'">
					  <ng-container *ngIf="layer.state == 'done'">
							<div class="legend-layer">
								<div>
									<mat-icon class="float-left pointer remove-layer" 
										(click)="layer.olLayer.set('displayInLegend', false)"
										(click)="layer.olLayer.setVisible(false)"
										matTooltip="Enlever cette couche de la carte">clear</mat-icon>
		
									<mat-icon class="float-left pointer"
										matTooltip="Masquer cette couche"
										(click)="openTuneDialog(layer)">tune</mat-icon>

									<mat-icon class="float-left pointer"
										matTooltip="Masquer cette couche"
										(click)="layer.olLayer.setVisible(!layer.olLayer.getVisible())">
										{{ (layer.olLayer.getVisible()) ? 'visibility' : 'visibility_off' }}
									</mat-icon> {{layer.properties.taxon.nom_valide}}
								</div>
								<div class="legend-layer-color" *ngIf="layer.olLayer.getVisible()">
									<div class="row-legende" *ngFor="let element of layerS.getLegende(layer)">
										<span class="color" [ngStyle]="{'background-color': element.color}"></span><span class="libelle">{{element.label}}</span>
									</div>
								</div>
							</div>
						</ng-container>
				  </ng-container>

				</ng-container>
			</ng-container>
			
		</div>
	</div>
</div>