.alert.alert-danger mat-icon {
	vertical-align: -6px;
	margin-right: 10px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff !important;
}

button .mat-progress-spinner, button .mat-spinner {
  display: inline-block;
  margin-right: 10px;
}