span.duree {
	background-color: #eee;
  border: 1px solid #ccc;
  padding: 0px 5px;
  border-radius: 2px;
  color: #555;
  margin-right: 20px;
}

span.libelle {
	text-transform: uppercase;
}

span.detail {
	margin-left: 15px;
	display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

span.delete {

}

span.delete button{
	line-height: 0px;
	height: auto;
}