<div style="margin-bottom: 10px;">

	<ng-container *ngIf="this.loading === false; else loadingBlock;">
		<ul class="list-group">
		  <li class="list-group-item d-flex" *ngFor="let travail of travaux">
		  	<span class="delete">
		  		<button mat-icon-button color="warn">
				    <mat-icon aria-label="croix de suppression">clear</mat-icon>
				  </button>
		  	</span>
		  	<span class="delete">
		  		<button mat-icon-button color="primary">
				    <mat-icon aria-label="crayon d'édition">edit</mat-icon>
				  </button>
		  	</span>
		  	<span class="duree">{{ travail.duree | timeFormat }}</span>
		  	<span class="libelle">{{ travail.mission.libelle }}</span>
		  	<span class="detail" *ngIf="travail.detail !== null && travail.detail !==''">
		  		{{ travail.detail }}
		  	</span>
		  </li>
		</ul>
	</ng-container>

	<ng-template #loadingBlock>
		<mat-progress-bar mode="query"></mat-progress-bar>
	</ng-template>

</div>