<div *ngIf="month">
	<div class="calendar">
		<div class="calendar-navbar">
			<button mat-stroked-button (click)="setToday()">Aujourd'hui</button>
			<button mat-icon-button (click)="previousMonth()">
		    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
		  </button>
		  <button mat-icon-button  (click)="nextMonth()">
		    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right</mat-icon>
		  </button>
		  <span class="title">{{ months[month.getMonth()] }} {{month.getFullYear()}}</span>
		</div>
		<div class="days-name">
			<span>Lundi</span>
			<span>Mardi</span>
			<span>Mercredi</span>
			<span>Jeudi</span>
			<span>Vendredi</span>
			<span>Samedi</span>
			<span>Dimanche</span>
		</div>
		<div class="weeks">
			<div class="week" *ngFor="let week of (dates|async)">
				<div class="week-number">{{ week.weekNumber }}</div>
				<ng-container *ngFor="let date of week.days; let idx = index">
					<div class="day" 
						[ngClass]="
							{
								'other-month': date.getMonth() !== month.getMonth(), 
								'weekend': (idx + 1) % 6 === 0 || (idx + 1) % 7 === 0,
								'today': ((date|date:'y-MM-dd') === (today|date:'y-MM-dd')),
								'selectedDate': ((date|date:'y-MM-dd') === ((selectedDate|async)|date:'y-MM-dd'))
							}"
						(click)="dateSelect(date)">
						<span class="day-number">
							{{ date|date:'d' }}
						</span>

						<span class="day-working-time">
							{{ getWorkingTimeByDate(date) }}
						</span>

					</div>
				</ng-container>
			</div>
			<div 
				*ngIf="loadingWork"
				class="loader"
			>
				<div><app-loader size="100"></app-loader></div>
			</div>
		</div>
	</div>
</div>