<h1 mat-dialog-title>Ajouter une tâche</h1>	

<div mat-dialog-content>

	<form [formGroup]="form" (ngSubmit)="save()">
		<div class="row" *ngIf="travail.id">
				<mat-form-field class="col-sm-3">
					<input matInput 
						(dateChange)="dateChange($event)"
						placeholder="Jour"
						autocomplete="off" 
						formControlName="date"
					  [matDatepicker]="datePicker">
				  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
				  <mat-datepicker #datePicker></mat-datepicker>
				</mat-form-field>
			</div>

			<div class="row">
				<div class="offset-sm-1 col-sm-10">
				<div class="row">
					<mat-form-field class="col-sm-4">
						<mat-label>Mission</mat-label>
				    <input matInput 
					    placeholder="Rechercher..." 
					    aria-label="Mission" 
					    [matAutocomplete]="autoMission" 
					    formControlName="mission">
				    <mat-autocomplete #autoMission [displayWith]="displayMission">
				      <mat-option *ngFor="let mission of missions | async" [value]="mission.mission">
				        <span>{{ mission.mission.libelle }}</span>
				      </mat-option>
				    </mat-autocomplete>
				    <mat-error>Hint</mat-error>
				  </mat-form-field>

				  <mat-form-field class="col-sm-3" formGroupName="categorie">
					  <mat-label>Catégorie</mat-label>
					  <mat-select formControlName="id">
					    <mat-option *ngFor="let categorie of categories | async" [value]="categorie.id">
					      {{ categorie.libelle }}
					    </mat-option>
					  </mat-select>
					  <mat-error>Hint</mat-error>
					</mat-form-field>

					<ng-container *ngIf="!timeFormDisplay;else timeFormBlock">
						<mat-form-field class="col-sm-2">
							<mat-label>Durée</mat-label>
					    <input matInput 
						    placeholder="0"
						    autocomplete="off"
						    [formControl]="dureeForm">
						  <mat-error>Hint</mat-error>
					  </mat-form-field>
					</ng-container>

				  <ng-template #timeFormBlock>
						<div class="col-sm-3">
							<form [formGroup]="timeForm" class="row">
								<mat-form-field class="col-6">
									<mat-label>Heure(s)</mat-label>
							    <input matInput 
								    placeholder="0" 
								    formControlName="heure" 
								    [matAutocomplete]="autoHour">
							    <mat-autocomplete #autoHour>
							      <mat-option *ngFor="let option of optionsHour" [value]="option">
							        {{ option }}
							      </mat-option>
							    </mat-autocomplete>
							  </mat-form-field>
							  <mat-form-field class="col-6">
									<mat-label>Minutes</mat-label>
							    <input matInput 
								    placeholder="0" 
								    formControlName="minutes" 
								    [matAutocomplete]="autoMinute">
							    <mat-autocomplete #autoMinute>
							      <mat-option *ngFor="let option of optionsMinute" [value]="option">
							        {{ option }}
							      </mat-option>
							    </mat-autocomplete>
							  </mat-form-field>
							</form>
						</div>
					</ng-template>

					<mat-radio-group 
						[ngClass]="{'offset-sm-1': !timeFormDisplay, 'col-sm-2': true}"
						(change)="timeFormDisplay=!timeFormDisplay">
					  <mat-radio-button value="1" [checked]="!timeFormDisplay">Heure décimal</mat-radio-button>
					  <mat-radio-button value="2" [checked]="timeFormDisplay">Heure minutes</mat-radio-button>
					</mat-radio-group>
				</div>

				<div>
					<mat-form-field>
						<mat-label>Détail</mat-label>
				    <textarea
				    	matInput 
				    	placeholder="Description..."
				    	formControlName="detail"></textarea>
				  </mat-form-field>
				</div>
			</div>
		</div>

	</form>

</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Annuler</button>
  <button color="primary"
		mat-raised-button 
		type="button"
		(click)="save()"
		[disabled]="!form.valid"><mat-icon aria-label="Icon enregistrement">save</mat-icon> {{ travail.id ? 'Modifier' : 'Enregistrer' }}</button>
</div>
