<mat-card>
  <mat-card-title> Responsables </mat-card-title>
  <mat-card-content> 
    <mat-list *ngIf="loading">
      <mat-list-item> Chargement en cours </mat-list-item>
    </mat-list>
    <mat-list *ngIf="!loading">
      <ng-container *ngIf="responsables.length; else noData">
        <mat-list-item *ngFor="let responsable of responsables">
          {{ responsable.personne.nom }} {{ responsable.personne.prenom }}
        </mat-list-item>
      </ng-container>
      <ng-template #noData>
        <mat-list-item>
          Pas de responsable renseigné
        </mat-list-item>
      </ng-template>
    </mat-list> 
  </mat-card-content>
</mat-card>