<a mat-raised-button 
	routerLink=".."
	aria-label="Icon d'une fleche vers la gauche" 
	matTooltip="Revenir à la page d'administration"
>
  <mat-icon>arrow_back</mat-icon> Précédent
</a>

<div class="row">

<div class="col-md-5">
<mat-card>
	<mat-card-title>Gestion du dictionnaire de charges</mat-card-title>

	<mat-card-subtitle>Liste des valeurs enregistrées</mat-card-subtitle>

	<mat-card-content>

		<mat-list>
			<ng-container *ngIf="(chargeTypeRefs||[]).length; else noChargeTypeRef">

				<ng-container *ngFor="let chargeTypeRef of chargeTypeRefs|sortBy:'asc':'orderBy'; let last = last;">

				  <mat-list-item (click)="select(chargeTypeRef)">
				  	<span class="d_id">#{{ chargeTypeRef.id }}</span>
				  	<span class="d_nom">{{ chargeTypeRef.label }}</span>
				  </mat-list-item>
				  <mat-divider *ngIf="!last"></mat-divider>

				</ng-container>

			</ng-container>

			<ng-template #noChargeTypeRef>
				<mat-list-item>Aucune valeur enregistrée</mat-list-item>
			</ng-template>

			<button 
				(click)="addChargeTypeRef()"
				mat-raised-button 
				color="primary">
				<mat-icon>add</mat-icon> Ajouter
			</button>
		</mat-list>
	</mat-card-content>
	<mat-card-actions>
		
	</mat-card-actions>
</mat-card>
</div>

<div class="col-md-7">
	<mat-card>
		<mat-horizontal-stepper #stepper>

			<mat-step>
				<mat-card-title>Détails</mat-card-title>
				<mat-card-subtitle>Selectionner une valeur dans la liste</mat-card-subtitle>
				<mat-card-content>
					<app-projet-charge-type-ref-charge-types-info></app-projet-charge-type-ref-charge-types-info>
				</mat-card-content>
			</mat-step>

			<mat-step>
				<mat-card-title>
					<ng-container *ngIf="chargeTypeRefSelect; else createForm">
						Modification de {{ chargeTypeRefSelect.label }}
					</ng-container>
					<ng-template #createForm>
						Ajout d'une valeur
					</ng-template>
				</mat-card-title>
				<mat-card-subtitle>Veuillez compléter ces informations</mat-card-subtitle>
				<mat-card-content>
					<app-projet-charge-type-ref-form></app-projet-charge-type-ref-form>
				</mat-card-content>
			</mat-step>

		</mat-horizontal-stepper>
	</mat-card>
</div>