<form [formGroup]="form">
	<div class="row">

		<div class="col-6">
			<mat-form-field>
			  <mat-label>Associer à une ligne du montage</mat-label>
			  <mat-select formControlName="charge">
			  	<mat-option>--</mat-option>
					<mat-option 
						*ngFor="let charge of associatedCharges"
						[value]="charge['@id']"
					>
			      {{ charge.label }}
			    </mat-option>
			  </mat-select>
			</mat-form-field>
		</div>

		<div class="col-6">
			<app-projet-control-task-avancement [form]="form.get('avancement')"></app-projet-control-task-avancement>
		</div>
	</div>

	<div class="row">
	  <mat-form-field class="col-md-9">
	    <input 
		    matInput 
		    placeholder="Intitulé"  
  			required
  			formControlName="intitule">
	  </mat-form-field>

	  <mat-form-field class="col-md-3">
	    <input 
		    matInput 
		    id="nbJours"
		    type="number"
		    placeholder="Nombre de jours"  
  			required
  			formControlName="nbJours">
  		<mat-hint>{{ getAvailableDay(form.get('charge').value) }} jours encore disponibles</mat-hint>
  		<mat-error *ngIf="form.get('nbJours').errors && form.get('nbJours').errors.required">
  			Veuillez renseigner un nombre de jours
  		</mat-error>
  		<mat-error *ngIf="form.get('nbJours').errors && form.get('nbJours').errors.max">
  			Trop de jours indiqués<br>
  			Maximum {{ form.get('nbJours').errors.max.max }} jours possible
  		</mat-error>
	  </mat-form-field>
	</div>

	<div>
		<div>Objectif</div>
		<editor 
			[init]="{
	    	base_url: '/tinymce',
	    	suffix: '.min',
	    	plugins: [
		     'lists link image paste help wordcount'
		    ],
	    	toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help'
	  	}"
	  	formControlName="objectif"
	  	outputFormat="html"
	  ></editor>
<!-- 				<mat-form-field>
	    <textarea
		    matInput 
		    placeholder="Objectif"  
  			formControlName="objectif"
  			required
  		>
  		</textarea> 
	  </mat-form-field> -->
	</div>


	

	<div>
    <button 
      mat-raised-button
      type="button"
      style="margin-right: 10px;"
      (click)="cancel()">
      Annuler
    </button>
  	<button 
  		mat-raised-button 
  		type="button"
  		style="min-width: 0; margin-top: 20px;" 
  		color="primary" 
  		[disabled]="!form.valid"
  		(click)="save()">
  		<mat-icon>done</mat-icon> {{ task?.id ? 'Modifier' : 'Ajouter' }}
  	</button>
  </div>
</form>