.bloc-ligne {
	margin: 5px 0px;
}

mat-icon.nb-statut {
  vertical-align: middle;
  margin-left: 4px;
  color: #345271;
}

mat-icon.nb-statut .mat-badge-content {
	color: #345271;
  background: none!important;
  right: -9px;
  top: -9px;
}

.statuts {
	margin-top: 5px;
}

.gr-panel-content .mat-icon {
	vertical-align: middle;
	margin-right: 8px;
}