// .bloc-element-detail {
//   overflow: hidden;
//   display: flex;
// }

// .bloc-element-diagram {
//   min-width: 80px;
//   border: 2px solid black;
//   padding: 8px;
//   font-weight: lighter;
//   margin: 8px 0;
//   height: 104px;
// }

// .bloc-element-symbol {
//   font-weight: bold;
//   font-size: 40px;
//   line-height: normal;
// }

// .bloc-element-description {
//   padding: 16px;
// }

// .bloc-element-description-attribution {
//   opacity: 0.5;
// }

// .element-detail {
//   margin: 5px 20px;
// }

// .bloc-ligne,
// .statuts header {
//   border-left: 3px solid #673ab7;
//   padding-left: 4px;
// }

// .bloc-ligne {
//   margin-bottom: 4px;
// }

// .mat-icon-button {
//   line-height: 0px;
// }

// .mat-icon-button .mat-icon {
//   font-size: 1.8em;
// }


.gr-panel {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 4px;
}

.gr-panel-header {
  padding: 5px 10px;
  cursor: pointer;
}

.gr-panel-body {

}