<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6 col">
			<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
				<mat-card>
				  <mat-card-title>Créer votre compte</mat-card-title>
				  <mat-card-content>
				  	<div class="row">
				  		<div class="col-sm-6">
				      	<mat-form-field class="form-element">
							    <input matInput 
							    	id="nom" 
				          	placeholder="Nom * :"
				          	autocomplete="off"
				          	formControlName="nom">
							  </mat-form-field>
							  <mat-error *ngIf="signinForm.get('nom').hasError('required') && signinForm.get('nom').touched">
						      Veuillez renseigner votre nom
						    </mat-error>
							</div>
							<div class="col-sm-6">
				      	<mat-form-field class="form-element">
							    <input matInput 
							    	id="prenom" 
				          	placeholder="Prénom * :"
				          	autocomplete="off"
				          	formControlName="prenom">
							  </mat-form-field>
							  <mat-error *ngIf="signinForm.get('prenom').hasError('required') && signinForm.get('prenom').touched">
						      Veuillez renseigner votre prénom
						    </mat-error>
							</div>
				    </div>
				    <div>
			      	<mat-form-field class="form-element">
						    <input matInput 
						    	id="username" 
			          	placeholder="Identifiant (login) * :"
			          	autocomplete="off"
			          	formControlName="username">
						  </mat-form-field>
						  <mat-error *ngIf="signinForm.get('username').hasError('required') && signinForm.get('username').touched">
						      Le login est obligatoire, il servira à vous connecter
						    </mat-error>
				    </div>

				    <div>
			      	<mat-form-field class="form-element">
						    <input matInput 
						    	id="email" 
						    	#email 
			          	formControlName="email"
			          	type="email"
			          	placeholder="Adresse mail * :">
						  </mat-form-field>
					    <mat-error *ngIf="signinForm.get('email').hasError('required') && signinForm.get('email').touched">
					      Veuillez renseigner une adresse mail
					    </mat-error>
					    <mat-error *ngIf="signinForm.get('email').hasError('pattern') && signinForm.get('email').touched">
					      Votre adresse mail ne semble pas correcte
					    </mat-error>
				    </div>

				    <div class="row">
				    	<div class="col-md-7">
				    		<div>
					      	<mat-form-field class="form-element">
								    <input matInput 
								    	id="password" 
					          	formControlName="password"
					          	placeholder="Mot de passe * :"
					          	type="password"
					          	autocomplete="off"
					          	#password
					          	(keyup)="checkPassword($event)">
								  </mat-form-field>
								  <mat-error *ngIf="signinForm.get('password').hasError('strongPasswordError') && signinForm.get('password').touched">
							      Le mot de passe n'est pas suffisamment complexe
							    </mat-error>
						    </div>

						    <div>
					      	<mat-form-field class="form-element">
								    <input matInput 
								    	id="password_confirmation" 
					          	formControlName="password_confirmation"
					          	placeholder="Confirmation du mot de passe * :"
					          	type="password"
					          	autocomplete="off">
								  </mat-form-field>
								  <mat-error *ngIf="signinForm.get('password_confirmation').hasError('similarError') && signinForm.get('password_confirmation').touched">
							      La confirmation n'est pas valide
							    </mat-error>
						    </div>
						  </div>
						  <div class="col-md-5 consigne">
						  	<span class="verifMdp">Vérification du mot de passe</span>
						  	<div [ngClass]="{'green': passwordCheck.taille, 'red': !passwordCheck.taille}">
						  		<mat-icon>{{ passwordCheck.taille ? 'done' : 'clear'}}</mat-icon> Au moins 8 caractères
						  	</div>
						  	<div [ngClass]="{'green': passwordCheck.chiffre && passwordCheck.taille, 'red': !passwordCheck.chiffre && passwordCheck.taille, 'grey': !passwordCheck.taille}">
						  		<mat-icon>{{ passwordCheck.chiffre && passwordCheck.taille ? 'done' : passwordCheck.taille ? 'clear' : 'remove'}}</mat-icon> Avec un chiffre
						  	</div>
						  	<div [ngClass]="{'green': passwordCheck.special && passwordCheck.taille, 'red': !passwordCheck.special && passwordCheck.taille, 'grey': !passwordCheck.taille}">
						  		<mat-icon>{{ passwordCheck.special && passwordCheck.taille ? 'done' : passwordCheck.taille ? 'clear' : 'remove'}}</mat-icon> Avec un caractère spécial
						  	</div>
						  	<div [ngClass]="{'green': passwordCheck.majuscule && passwordCheck.taille, 'red': !passwordCheck.majuscule && passwordCheck.taille, 'grey': !passwordCheck.taille}">
						  		<mat-icon>{{ passwordCheck.majuscule && passwordCheck.taille ? 'done' : passwordCheck.taille ? 'clear' : 'remove'}}</mat-icon> Minuscule et majuscule
						  	</div>
						  </div>
						</div>

						<div>
			      	<mat-form-field class="form-element">
						    <input matInput 
						    	id="description" 
			          	placeholder="Information complémentaire :"
			          	autocomplete="off"
			          	formControlName="description">
						  </mat-form-field>
				    </div>

				  </mat-card-content>
				  <mat-card-actions>
		      	<div style="text-align: center;">
			      		<button mat-button
			      			class="form-element waves-effect waves-light btn"
			      			type="submit"
			      			[disabled]="!signinForm.valid"
			      			color="primary" 
			      			mat-raised-button>Inscription</button>
			      </div>
		      </mat-card-actions>
				</mat-card>
			</form>
		</div>
	</div>
</div>
