<ng-container [formGroup]="form">
	<td>
		<ng-container *ngIf="!addProjectFormDisplay; else addProjectFormTemplate">
			<app-project-project-control [form]="form.get('project')"></app-project-project-control>
			<div>
				<button
					mat-raised-button
					type="button"
					color="primary"
					matTooltip="Renseigner un projet"
					(click)="displayProjectForm(true)"
				>
				  ou renseigner un projet inexistant
				</button>
			</div>
		</ng-container>
		<ng-template #addProjectFormTemplate>
			<div formGroupName="project">
				<mat-form-field>
			    <input 
				    matInput 
				    id="code"  
				    placeholder="Code"  
		  			required
		  			formControlName="code">
			  </mat-form-field>

			  <mat-form-field>
			    <input 
				    matInput 
				    id="intitule"
				    placeholder="Intitulé"  
		  			required
		  			formControlName="intitule">
			  </mat-form-field>

			  <mat-form-field>
			  	<mat-label>Date de début</mat-label>
				  <input 
				  	id="dateDebut"
				  	matInput 
				  	type="text"
				  	[matDatepicker]="dateDebutP" 
				  	placeholder="jj/mm/aaaa" 
				  	formControlName="dateDebut"
				  	required>
				  <mat-datepicker-toggle matSuffix [for]="dateDebutP"></mat-datepicker-toggle>
				  <mat-datepicker #dateDebutP></mat-datepicker>
				</mat-form-field>
			</div>
		</ng-template>
	</td>
	<td>
		<mat-form-field>
	    <input 
		    matInput 
		    id="eligibleFunding"
		    type="number"
		    placeholder="Part de financement"  
  			required
  			formControlName="eligibleFunding">
	  </mat-form-field>
	</td>
	<td>
		<button
			mat-raised-button
			type="button"
			color="primary"
			matTooltip="Ajouter l'organisme"
			[disabled]="form.invalid" 
			(click)="save()"
		>
		  <mat-icon>add</mat-icon> Ajouter
		</button>
		<button
			style="margin-left: 10px;"
			mat-raised-button
			type="button"
			matTooltip="Annuler"
			(click)="cancel()"
		>
		  <mat-icon>clear</mat-icon>
		</button>
	</td>
</ng-container>