{% extends "APICoreBundle::template.html.twig" %}

{% block title %}
    GRETIA :: Erreur
{% endblock %}

{% block header %}<div style="text-align: center;"><h2>Vous cherchez quelque chose ?</h2></div>{% endblock header %}

{% block chemin %}
	{{ parent() }} / <span class="glyphicon glyphicon-leaf"></span> Erreur 404
{% endblock %}

{% block content %}

<h4>Il semblerait que vous vous soyez perdu... La page à laquelle vous avez essayé d'accéder n'existe pas !</h4>
<a href="{{ path('app_index') }}" class="waves-effect waves-light btn"><i class="material-icons left">home</i>Retour sur la page d'accueil</a>
{% endblock %}
