<mat-card>
	<mat-card-title>Liste des conventions passées</mat-card-title>
	<mat-card-content>
		<div>
			<a
				routerLink="./nouvelle"
				mat-raised-button 
				color="primary"
				>
				Nouvelle convention
			</a>
		</div>

		<ng-container *ngIf="!loadingList; else loadingTemplate">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>intitulé</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="(conventions||[]).length; else noData">
						<tr *ngFor="let convention of conventions">
							<td> <a routerLink="{{ convention.id }}" title="Afficher les détails">{{ convention.intitule }}</a> </td>
							<td>  </td>
						</tr>
					</ng-container>
					<ng-template #noData>
						<tr><td colspan="3">Aucune convention enregistrée</td></tr>
					</ng-template>
				</tbody>
			</table>
		</ng-container>
		<ng-template #loadingTemplate>
			<app-loader message="Chargement en cours"></app-loader>
		</ng-template>
	</mat-card-content>
</mat-card>