.dialog-content {
	display: block;
  height: 100%;
  position: relative;
}

.example-radio-group {
  display: block;
  position: fixed;
  margin: 15px 0;
  height: 60%;
  width: 85%;
  overflow-y: auto;
}

.example-radio-button {
  margin: 5px;
  display: block;
}

.btn-validation {
	position: absolute;
  bottom: 0;
  right: 70px;
}