<mat-card>
	<mat-card-title>Suiveuse</mat-card-title>

	<mat-card-content>
		<div class="row">
			<div class="col-sm-8">

				<form [formGroup]="form" (ngSubmit)="save()">
					<div class="row">

						<mat-form-field class="col-sm-3">
							<input matInput 
								placeholder="Jour"
							  [matDatepicker]="date"
							  formControlName="date" 
			  			  id="date">
						  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
						  <mat-datepicker #date></mat-datepicker>
					  </mat-form-field>

						<mat-form-field class="col-sm-4">
					    <input matInput 
						    placeholder="Mission" 
						    aria-label="Mission" 
						    [matAutocomplete]="auto" 
						    formControlName="mission">
					    <mat-autocomplete #auto="matAutocomplete">
					      <mat-option *ngFor="let mission of missions | async" [value]="mission.mission.id">
					        <span>{{ mission.mission.libelle }}</span>
					      </mat-option>
					    </mat-autocomplete>
					  </mat-form-field>

					  <mat-form-field class="col-sm-3">
						  <mat-label>Catégorie</mat-label>
						  <mat-select>
						    <mat-option *ngFor="let categorie of categories | async" [value]="categorie.id">
						      {{ categorie.libelle }}
						    </mat-option>
						  </mat-select>
						</mat-form-field>

						<mat-form-field class="col-sm-2">
					    <input matInput 
						    placeholder="Durée"
						    formControlName="duree">
					  </mat-form-field>

					</div>

				</form>
			</div>
		</div>
	</mat-card-content>
</mat-card>
