<mat-card>
  <mat-card-content>
  <span class="card-title"><strong>Synonymes</strong></span>
    <table *ngIf="!loading; else loadingTemplate">
      <tbody>
        <ng-container *ngIf="synonymes">
          <ng-container *ngIf="synonymes.length == 1 && synonymes[0][cdNom] == synonymes[0][cdRef];else dSynonymes">
            <tr>
              <td></td>
              <td><strong>Pas de synonyme</strong></td>
            </tr>
          </ng-container>
          <ng-container #dSynonymes *ngFor="let taxon of synonymes">
            <tr *ngIf="taxon.cdNom != taxon.cdRef">
              <td>[<a [routerLink]="['/taxref', 'taxon', taxon.cdNom]">{{ taxon.cdNom }}</a>]</td>
              <td><strong>{{ taxon.nomComplet }}</strong></td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <ng-template #loadingTemplate>
      <app-loader message="Chargement en cours"></app-loader>
    </ng-template>
  </mat-card-content>
</mat-card>