.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff !important;
}

button .mat-progress-spinner, button .mat-spinner {
  display: inline-block;
  margin-right: 10px;
}