<a mat-raised-button 
	routerLink="/projet/admin/projets"
	aria-label="Icon d'une fleche vers la gauche" 
	matTooltip="Revenir à la gestion des salariés"
>
  <mat-icon>arrow_back</mat-icon> Précédent
</a>

<div class="row">

	<div class="col-md-6">
		<mat-card>
			<mat-horizontal-stepper #stepper>

				<mat-step>
					<mat-card-title>Gestion des types de projet</mat-card-title>

					<mat-card-subtitle>Liste des valeurs enregistrées</mat-card-subtitle>

					<mat-card-content>
						<ng-container *ngIf="!refProjectTypeS.loadingList; else loadingTemplate">
							<mat-list>
								<ng-container *ngIf="(refProjectTypes||[]).length; else noRefProjectType">

									<ng-container *ngFor="let refProjectType of refProjectTypes|sortBy:'asc':'ordre'; let last = last;">

									  <mat-list-item 
									  	displayMouseOver 
									  	displayMouseOverSelector=".button"
									  	(click)="selected(refProjectType)"
									  >
									  	<span class="button d-none">
										  	<button 
										  		mat-icon-button 
										  		color="primary"
										  		(click)="edit()">
											    <mat-icon>edit</mat-icon>
											  </button>
											</span>
									  	<span class="value"><small>{{ refProjectType.ordre }} - </small>{{ refProjectType.libelle }}</span>
									  </mat-list-item>
									  <mat-divider *ngIf="!last"></mat-divider>

									</ng-container>

								</ng-container>

								<ng-template #noRefProjectType>
									<mat-list-item>Aucune valeur enregistrée</mat-list-item>
								</ng-template>

								<button 
									mat-raised-button 
									color="primary"
									(click)="create()"
								>
									<mat-icon>add</mat-icon> Ajouter
								</button>
							</mat-list>
						</ng-container>
						<ng-template #loadingTemplate>
							<app-loader message="Chargement en cours"></app-loader>
						</ng-template>

					</mat-card-content>
				</mat-step>

				<mat-step>
					<mat-card-title>
						<ng-container *ngIf="(refProjectTypeS.refProjectType | async) !== null; else createForm">
							Modification de {{ (refProjectTypeS.refProjectType | async).alias }}
						</ng-container>
						<ng-template #createForm>
							Ajout d'une valeur
						</ng-template>
					</mat-card-title>
					<mat-card-subtitle>Veuillez compléter ces informations</mat-card-subtitle>
					<mat-card-content>
						<app-project-admin-ref-projet-type-form></app-project-admin-ref-projet-type-form>
					</mat-card-content>
				</mat-step>
			</mat-horizontal-stepper>

		</mat-card>
	</div>

	<div class="col-6">
		<app-project-admin-ref-project-type></app-project-admin-ref-project-type>
	</div>
</div>