<div class="salarie-form">
	<mat-form-field>
	  <mat-label>
	  	<mat-spinner 
				*ngIf="loading"
				diameter="20"
				strokeWidth="2"
			>
			</mat-spinner>
	  	Salariés
	  </mat-label>
	  <mat-select 
	  	[formControl]="form"
	  	required>

	  	<ng-container *ngIf="historique; else withoutGroup">
		  	<mat-optgroup 
		  		*ngFor="let personne of personnes" 
		  		label="{{ personne.nom }} {{ personne.prenom }}">
			    <mat-option *ngFor="let salarie of personne.salaries" [value]="salarie['@id']">
			      {{ displayLabel(personne, salarie) }}
			    </mat-option>
			  </mat-optgroup>
			</ng-container>
			<ng-template #withoutGroup>

				<ng-container *ngFor="let personne of personnes">
					<mat-option *ngIf="personne.workIn" [value]="personne.workIn['@id']">
			      {{ displayLabel(personne) }}
			    </mat-option>
			  </ng-container>

			</ng-template>
	  </mat-select>
	</mat-form-field>

	<div class="checkbox">
		<mat-checkbox 
			color="primary"
			matTooltip="Afficher l'historique par personne"
			[(ngModel)]="historique">
			Historique
		</mat-checkbox>
	</div>
</div>
