<h5>Attribution du temps</h5>

<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>Salarié</th>
      <th>Jour(s) affecté(s)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="loading">
      <td colspan="4"><mat-progress-bar mode="query"></mat-progress-bar></td>
    </tr>
    <ng-container *ngIf="!loading">
    <tr 
      *ngFor="let attribution of attributions"
    >
      <ng-container *ngIf="attribution.salarie.personne; else updateTmp">
        <td>
          {{ attribution.salarie.personne.nom }} {{ attribution.salarie.personne.prenom }}
        </td>
        <td>{{ attribution.nbJours }}</td>
        <td>
          <button 
            mat-icon-button
            color="primary"
            (click)="openTaskForm(attribution)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button 
            mat-icon-button
            color="warn"
            (click)="delete(attribution)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-template #updateTmp>
        <td 
          *ngIf="!attribution.salarie.personne"
          colspan="4"
        ><mat-progress-bar mode="query"></mat-progress-bar></td>
      </ng-template>
    </tr>
  </ng-container>
  </tbody>
  <tfoot *ngIf="!loading">
    <tr>
      <td 
        colspan="4" 
        class="text-right"
      >
        <button 
          type="button"
          mat-mini-fab
          color="primary"
          (click)="openTaskForm()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </tr>
  </tfoot>
</table>