<div class="row">

	<ng-container *ngIf="projet; else loadingElement">
		<div class="col-md-6">
			<mat-card>
					<div class="float-right">
						<button 
					  	mat-stroked-button
					  	color="primary"
					  	(click)="openFormDialog()"
					  >
					    <mat-icon>edit</mat-icon> Éditer
					  </button>
					  <!-- <button 
					  	mat-mini-fab
					  	color="warn"
					  >
					    <mat-icon>delete</mat-icon>
					  </button> -->
					</div>
				<mat-card-title> {{ projet.intitule }} </mat-card-title>
				<mat-card-subtitle> {{ projet.code }} </mat-card-subtitle>

				<mat-card-content>

					<div class="row">
						<div class="col-md-3 text-right"> <h6> Antenne</h6> </div>
						<div class="col-md-9"> {{ projet.localAttachment?.nom || ' - ' }} </div>
					</div>

					<div class="row">
						<div class="col-md-3 text-right"> <h6> Type de projet </h6> </div>
						<div class="col-md-9">
							{{ projet.projectType?.refProjectType.libelle || ' - ' }} <small>(coût jour : {{ projet.projectType?.coutJour || '-' }}€)</small>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 text-right"> <h6> Date de début </h6> </div>
						<div class="col-md-9"> {{ projet.dateDebut | date:'dd/MM/yyyy' }} </div>
					</div>

					<div class="row">
						<div class="col-md-3 text-right"> <h6> Date de fin </h6> </div>
						<div class="col-md-9"> {{ (projet.dateFin | date:'dd/MM/yyyy') || '-' }} </div>
					</div>
					
					<div class="row">
						<div class="col-md-3 text-right"> <h6> Groupe taxonomique </h6> </div>
						<div class="col-md-9"> {{ projet.groupeTaxo || '-' }} </div>
					</div>

					<div class="row">
						<div class="col-md-3 text-right"> <h6> Milieu </h6> </div>
						<div class="col-md-9"> {{ projet.milieu || '-' }} </div>
					</div>

					<div class="row">
						<div class="col-md-3 text-right"> <h6> Objectif </h6> </div>
						<div 
							class="col-md-9"
							[innerHTML]="projet.objectif"
						></div>
					</div>


				</mat-card-content>



			</mat-card>
		</div>

		<div class="col-md-6">

			<app-projets-projet-responsables></app-projets-projet-responsables>
			<app-projets-projet-localisations></app-projets-projet-localisations>

		</div>
	</ng-container>
	<ng-template #loadingElement>
		<div class="col-12">
			<mat-card>
				<div> Chargement en cours </div>
			</mat-card>
		</div>
	</ng-template>
</div>
