<mat-card *ngIf="loading || personne">
	<mat-card-title>Information rapide</mat-card-title>

	<ng-container *ngIf="!loading; else loadingTmp">

		<mat-card-content>
			<div class="float-right" style="margin-bottom: 10px;">
			  <button 
			  	*ngIf="personne.removable"
					mat-mini-fab
					matTooltip="Supprimer"
					color="warn"
					(click)="delete(personne)">
			    <mat-icon>delete</mat-icon>
			  </button>
			</div>
			<h5> Personne : {{ personne.prenom }} {{ personne.nom }} </h5>

			<mat-horizontal-stepper #stepper>

				<mat-step>
					<h5>Liste des contrats</h5>
					<div style="margin-bottom: 5px;">
						<button 
							mat-stroked-button 
							color="primary"
							(click)="addSalarie()">Nouveau contrat
						</button>
					</div>

					<table class="table table-bordered">
						<thead class="thead-dark">
							<tr>
								<th>Antenne</th>
								<th>Fonction</th>
								<th>Taux (%)</th>
								<th>Début</th>
								<th>Fin</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="personne.salaries.length; else noData">
								<tr *ngFor="let salarie of personne.salaries;">
									<td>{{ salarie.antenne.nom }}</td>
									<td>{{ salarie.fonction.label }}</td>
									<td>{{ salarie.taux }}</td>
									<td>{{ salarie.dateDebut | date:'dd/MM/yyyy' }}</td>
									<td>{{ salarie.dateFin | date:'dd/MM/yyyy' }}</td>
									<td>
										<ng-container *ngIf="salarie.removable">
											<button 
												mat-icon-button 
												color="primary"
												(click)="editContrat(salarie)">
										    <mat-icon matTooltip="Modifier cette ligne">edit</mat-icon>
										  </button>
											<button 
												mat-icon-button 
												color="warn"
												(click)="deleteContrat(salarie)">
										    <mat-icon matTooltip="Supprimer cette ligne">clear</mat-icon>
										  </button>
										</ng-container>
									</td>
								</tr>
							</ng-container>
							<ng-template #noData>
								<tr><td colspan="6">Aucune donnée pour le moment</td></tr>
							</ng-template>
						</tbody>
					</table>
				</mat-step>

				<mat-step>
					<app-projet-person-salarie-form (refreshPerson)="refreshPerson()"></app-projet-person-salarie-form>
				</mat-step>
			</mat-horizontal-stepper>

		</mat-card-content>
	</ng-container>
	<ng-template #loadingTmp>
		<app-loader message="Récupération des informations "></app-loader>
	</ng-template>
</mat-card>