<form [formGroup]="form">

	<div class="row">
		<mat-form-field class="col-md-6">
		  <mat-label>Fonction</mat-label>
		  <mat-select 
		  	formControlName="fonction" 
		  	required>
		    <mat-option *ngFor="let fonction of fonctions" [value]="fonction['@id']">
		      {{ fonction.label }}
		    </mat-option>
		  </mat-select>
		</mat-form-field>
		
		<mat-form-field class="col-md-6">
		  <mat-label>Antenne</mat-label>
		  <mat-select 
		  	formControlName="antenne"
		  	required>
		    <mat-option *ngFor="let antenne of antennes" [value]="antenne['@id']">
		      {{ antenne.nom }}
		    </mat-option>
		  </mat-select>
		</mat-form-field>
	</div>

	<div class="row">
	  <mat-form-field class="col-md-6">
	  	<mat-label>Date de début</mat-label>
		  <input 
		  	matInput 
		  	[matDatepicker]="dateDebutP" 
		  	placeholder="jj/mm/aaaa" 
		  	formControlName="dateDebut"
		  	required>
		  <mat-datepicker-toggle matSuffix [for]="dateDebutP"></mat-datepicker-toggle>
		  <mat-datepicker #dateDebutP></mat-datepicker>
		</mat-form-field>

	  <mat-form-field class="col-md-6">
	  	<mat-label>Date de fin</mat-label>
		  <input 
		  	matInput 
		  	[matDatepicker]="dateFinP" 
		  	placeholder="jj/mm/aaaa" 
		  	formControlName="dateFin">
		  <mat-datepicker-toggle matSuffix [for]="dateFinP"></mat-datepicker-toggle>
		  <mat-datepicker #dateFinP></mat-datepicker>
		</mat-form-field>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="taux-label">Taux *</div>
			<mat-slider
					#slider
	        style="width: 75%;margin-right: 10px;"
	        color="primary"
	        max="100"
	        min="0"
	        step="5"
	        tickInterval="2"
	        formControlName="taux">
	    </mat-slider>
	    <b>{{ slider.value }}</b> %
	  </div>
	</div>
	
</form>